<div class="loginContainer">
    <div class="error-alert delete-animation enter-animation login-error" ng-show="errorShow" ng-view>
        <span class="closeIco" ng-click="closeAlert()">x</span>
        <div class="text">{{errorMessage}}</div>
    </div>
    <div class="loginWrapper">
        <span class="title">{{ 'auth.title' | translate }}</span>
        <div class="formWrapper">
            <form role="form">
                <md-input-container class="md-block custom-input" flex-gt-sm>
                    <label>{{ 'auth.email' | translate }}</label>
                    <input type="email" ng-model="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                </md-input-container>
                <md-input-container class="md-block custom-input" flex-gt-sm>
                    <label>{{ 'auth.password' | translate }}</label>
                    <input type="password" ng-model="password"/>
                </md-input-container>
                <div class="custom-input">
                    <md-button class="md-raised md-primary btnCustom login-btn" type="submit" ng-click="login()">{{ 'auth.btnLogin' | translate }}</md-button>
                </div>
            </form>
        </div>
    </div>
</div>