<div class="container dash">
    <div class="contentContainer">
        <div class="contentInner">
            <div class="dashWrapper">
                <span class="welcome">״שם המשתמש״ <strong>ברוך הבא!</strong></span>
                <span class="text">מרגישים<br>מוכנים</span>
                <span class="promotion">בואו ליצור מתכון מנצח</span>
            </div>
        </div>
    </div>
</div>