<div class="success-alert delete-animation enter-animation" ng-repeat="msg in successMessage track by $index">
    <span class="closeIco" ng-click="closeAlert($index)">x</span>
    <div class="text">{{msg.msg}}</div>
</div>
<div class="container">
    <div class="contentContainer">
        <div class="helpedWrapper">
            <md-button class="md-raised createBtn pullLeft" ui-sref="Recipe"><i class="ico addIco"></i>{{ 'recipe.main.category.list.btnCreate' | translate }}</md-button>
            <div class="searchWrapper">
                <span class="ico icoSearch" ng-click="searchItem(searchText)"></span>
                <input type="text"
                       ng-model="searchText"
                       placeholder="{{ 'recipe.main.category.list.inputSearch' | translate }}">
            </div>
            <span class="page-title">
            {{categoryData.title}}
                <span class="title-ico">
                    <img ng-src="{{recipeimageurl + categoryData.picture}}" ng-if="categoryData.picture"/>
                </span>
            </span>
        </div>
        <div class="contentInner">
            <div class="table-list" ng-if="contentLoaded">
                <div class="th-container">
                    <div class="name width317">{{ 'recipe.main.category.list.table.name' | translate }}</div>
                    <div class="date width146">{{ 'recipe.main.category.list.table.date' | translate }}</div>
                    <div class="rating width137">{{ 'recipe.main.category.list.table.rating' | translate }}</div>
                    <div class="value width137">{{ 'recipe.main.category.list.table.value' | translate }}</div>
                    <div class="created-by width137">{{ 'recipe.main.category.list.table.createdBy' | translate }}</div>
                    <div class="actions width110">{{ 'recipe.main.category.list.table.actions' | translate }}</div>
                </div>
                <div class="table-inner">
                    <div class="tr-line" ng-repeat="item in category">
                        <div class="name width317" ui-sref="RecipeView({id:item._id})">{{item.title}}<span class="isHared" ng-if="item.isShared"></span></div>
                        <div class="date width146" ui-sref="RecipeView({id:item._id})">
                            {{item.creationDate | date: "dd/MM/yyyy HH:mm"}}
                            <!--{{item.creationDate}}-->
                        </div>
                        <div class="rating width137" ui-sref="RecipeView({id:item._id})">
                            <div class="rating-ico active-{{item.rating}}">
                                <span></span><span></span><span></span><span></span><span></span>
                            </div>
                        </div>
                        <div class="value width137" ui-sref="RecipeView({id:item._id})">
                            <span ng-repeat="attr in item.attributes"><i class="delimiter"> ,</i>{{attr | translate}}</span>
                        </div>
                        <div class="created-by width137" ui-sref="RecipeView({id:item._id})">
                            <span ng-if="meBusiness._id == item.business">{{meBusiness.title}}</span>
                        </div>
                        <div class="actions width110">
                            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Print" ui-sref="RecipeView({id:item._id})">
                                <md-icon md-svg-icon="images/print-black.svg" class="print"></md-icon>
                            </md-button>
                            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Edit" ui-sref="RecipeEdit({id:item._id})">
                                <md-icon md-svg-icon="images/edit-black.svg" class="edit"></md-icon>
                            </md-button>
                            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Share" ng-click="showShare(item._id)">
                                <md-icon md-svg-icon="images/share-black.svg" class="share"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-list no-content" ng-if="noContent">
                <span>{{'recipe.main.category.list.nocontent'| translate}}</span>
            </div>
            <div class="pagination-wrapper" ng-show="show">
                <uib-pagination
                        total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        class="pagination-sm"
                        boundary-link-numbers="true"
                        rotate="false"
                        num-pages="numPages"
                        items-per-page="itemsPerPage"
                        previous-text="&rsaquo;"
                        next-text="&lsaquo;"
                >

                </uib-pagination>
            </div>
        </div>
    </div>
</div>