<div class="success-alert delete-animation enter-animation" ng-if="successShow" ng-view>
    <span class="closeIco" ng-click="closeAlert()">x</span>
    <div class="text">{{successMessage}}</div>
</div>
<div class="error-alert delete-animation enter-animation" ng-if="errorShow" ng-view>
    <span class="closeIco" ng-click="closeAlert()">x</span>
    <div class="text" ng-repeat="error in errorMessage">{{error.message}}</div>
</div>
<div class="container">
    <div class="contentContainer">
        <div class="helpedWrapper">
            <span class="page-title">
                {{ 'management.view.title' | translate }}
            </span>
        </div>
        <div class="contentInner">
            <div class="management-form">
                <form name="managementForm" novalidate>
                    <div class="pull-right img-upload">
                        <div class="img" ngf-drop ngf-select ng-model="file" class="drop-box"
                             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                             accept="image/*"
                             ngf-pattern="'image/*,application/pdf'">
                            <img ngf-thumbnail="file || 'images/recipe-thumb.png'">
                        </div>
                        <span class="choose" ngf-select ng-model="file">
                                {{ 'management.view.form.upload' | translate }}
                            </span>
                    </div>
                    <div class="half pull-right">
                        <md-input-container class="margin20">
                            <label>{{ 'management.view.form.name' | translate }}</label>
                            <input type="text" name="name" required ng-model="profileData.business.title">
                        </md-input-container>
                        <md-input-container class="margin10">
                            <label>{{ 'management.view.form.address' | translate }}</label>
                            <input type="text" name="address" required ng-model="profileData.business.address">
                        </md-input-container>
                        <md-input-container class="margin10">
                            <label>{{ 'management.view.form.city' | translate }}</label>
                            <input type="text" name="city" required ng-model="profileData.business.city">
                        </md-input-container>
                        <md-input-container class="margin10">
                            <label>{{ 'management.view.form.language' | translate }}</label>
                            <md-select ng-model="profileData.business.language">
                                <md-option ng-repeat="item in language" value="{{item.code}}">{{item.nativeName}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="half pull-right">
                        <md-input-container class="margin20">
                            <label>{{ 'management.view.form.email' | translate }}</label>
                            <input type="email" name="email" required ng-model="profileData.business.email">
                        </md-input-container>
                        <md-input-container class="margin10">
                            <label>{{ 'management.view.form.phone' | translate }}</label>
                            <input type="phone" name="phone" required ng-model="profileData.business.phone">
                        </md-input-container>
                        <md-input-container class="margin10">
                            <label>{{ 'management.view.form.cellPhone' | translate }}</label>
                            <input type="phone" name="cell_phone" ng-model="profileData.business.cell_phone">
                        </md-input-container>
                    </div>
                    <div class="button-block">
                        <md-button class="md-raised createBtn pullLeft" ng-click="save()">{{ 'management.view.btnSave' | translate }}<i class="ico saveIco"></i></md-button>
                    </div>
                </form>
                <div class="subscription-data">
                    <h2 class="title">{{ 'management.view.subscription.title' | translate }}</h2>
                    <div class="table-list">
                        <div class="th-container">
                            <div class="date width146">{{ 'management.view.subscription.date' | translate }}</div>
                            <div class="package width137">{{ 'management.view.subscription.package' | translate }}</div>
                            <div class="billing width137">{{ 'management.view.subscription.billing' | translate }}</div>
                            <div class="expires width137">{{ 'management.view.subscription.expires' | translate }}</div>
                        </div>
                        <div class="table-inner">
                            <div class="tr-line">
                                <div class="date width146">24/07/2016</div>
                                <div class="package width137">
                                    מערכת ניהול עסקית
                                </div>
                                <div class="billing width137">
                                    שנתי
                                </div>
                                <div class="expires width137 default-padding">24/07/2017</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="purchase-block">
                    <span class="page-title">
                        {{ 'management.view.purchase' | translate }}
                    </span>
                    <div>
                        <div class="purchase-item {{profilePackage === item.value ? 'active' : ''}}" ng-repeat="item in business">
                            <div class="title">
                                ₪ {{item.price}}
                            </div>
                            <div class="text">
                                <ul>
                                    <li>{{item.productName}}</li>
                                    <li>{{item.recipesNum}} םינוכתמ</li>
                                    <li>{{item.userNum}} םישמתשמ</li>
                                    <li>
                                        םינוכתמ תריצי
                                    </li>
                                    <li>
                                        םינבומ םלג ירמוחו םינוכתמ יתת
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-block">
                                <md-button class="md-raised pullLeft purchase-btn" ng-click="buy(item.value)">{{ 'management.view.btnPurchase' | translate }}</md-button>
                            </div>
                            <div class="layer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>