<md-dialog>
    <md-dialog-content class="modal calendar">
        <div class="title">
            <h2>{{ 'calendar.create.title' | translate}}</h2>
            <md-button md-no-ink class="md-icon-button pull-left close-btn" aria-label="Delete" ng-click="close()">
                <md-icon md-svg-icon="images/delete-grey.svg" class="delete"></md-icon>
            </md-button>
        </div>
        <div class="error-alert delete-animation enter-animation" ng-if="errorShow" ng-view>
            <span class="closeIco" ng-click="closeAlert()">x</span>
            <div class="text">{{errorMessage}}</div>
        </div>
        <form name="createForm" novalidate>
            <div class="form-inner height-auto no-margin">
                <md-autocomplete
                        class="margin20"
                        md-no-cache
                        md-selected-item-change="selectItem(event)"
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="event in searchItems(searchText)"
                        md-item-text="event.title"
                        ng-model="event.title"
                        md-min-length="1"
                        placeholder="{{ 'calendar.create.name' | translate }}">
                    <md-item-template>
                        <span class="item-title">
                            <span> {{event.title}} </span>
                        </span>
                    </md-item-template>
                </md-autocomplete>
                <div class="margin10 datetime-picker">
                    <md-datepicker class="calendar-picker datepicker-style" md-placeholder="{{ 'calendar.create.date' | translate }}" md-open-on-focus ng-model="event.date"></md-datepicker>
                </div>
                <div class="margin10 datetime-picker">
                    <mdp-time-picker mdp-auto-switch="true" ng-model="event.date"></mdp-time-picker>
                </div>
                <md-input-container class="margin50 text-area-input">
                    <label>{{ 'calendar.create.notes' | translate }}</label>
                    <textarea name="notes" rows="3" ng-model="event.description"></textarea>
                    <span class="line"></span>
                    <span class="line"></span>
                </md-input-container>
                <md-input-container class="margin0 relative">
                    <label>{{ 'calendar.create.amount' | translate }}</label>
                    <input type="text" name="price" class="width105" ng-model="event.price">
                    <span class="money-ico">₪</span>
                </md-input-container>
            </div>
            <div class="btn-wrapper">
                <md-button class="md-raised createBtn pullLeft" ng-click="create()"><i class="ico eventIco"></i>{{ 'calendar.create.btnCreate' | translate }}</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>