<md-dialog>
    <md-dialog-content class="modal calendar">
        <div class="title">
            <h2>{{ 'calendar.edit.title' | translate}}</h2>
            <md-button md-no-ink class="md-icon-button pull-left close-btn" aria-label="Delete" ng-click="close()">
                <md-icon md-svg-icon="images/delete-grey.svg" class="delete"></md-icon>
            </md-button>
        </div>
        <div class="error-alert delete-animation enter-animation" ng-if="errorShow" ng-view>
            <span class="closeIco" ng-click="closeAlert()">x</span>
            <div class="text">{{errorMessage}}</div>
        </div>
        <form name="createForm" novalidate>
            <div class="form-inner height-auto no-margin">
                <md-input-container class="margin20">
                    <label>{{ 'calendar.edit.name' | translate }}</label>
                    <input type="text" name="name"  ng-model="event.title">
                </md-input-container>
                <div class="margin10 datetime-picker">
                    <md-datepicker class="calendar-picker datepicker-style" md-placeholder="{{ 'calendar.create.date' | translate }}" md-open-on-focus ng-model="event.date"></md-datepicker>
                </div>
                <div class="margin10 datetime-picker">
                    <mdp-time-picker mdp-auto-switch="true" ng-model="event.date"></mdp-time-picker>
                </div>
                <md-input-container class="margin50 text-area-input">
                    <label>{{ 'calendar.edit.notes' | translate }}</label>
                    <textarea name="notes" rows="3" ng-model="event.description"></textarea>
                    <span class="line"></span>
                    <span class="line"></span>
                </md-input-container>
                <md-input-container class="margin0 relative">
                    <label>{{ 'calendar.edit.amount' | translate }}</label>
                    <input type="text" name="price" class="width105" ng-model="event.price">
                    <span class="money-ico">₪</span>
                </md-input-container>
            </div>
            <div class="btn-wrapper">
                <md-button class="md-raised createBtn pullLeft" ng-click="edit()"><i class="ico eventIco"></i>{{ 'calendar.edit.btnCreate' | translate }}</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>