<div class="success-alert delete-animation enter-animation" ng-show="successShow" ng-view>
    <span class="closeIco" ng-click="closeAlert()">x</span>
    <div class="text">{{successMessage}}</div>
</div>
<div class="container">
    <div class="contentContainer calendar-container">
        <div class="helpedWrapper">
            <md-button class="md-raised createBtn calendarBtn" ng-click="showCreate()"><i class="ico eventIco"></i>{{ 'calendar.btn_create' | translate }}</md-button>
            <span class="page-title">{{'calendar.page_title' | translate}}</span>
        </div>
        <div class="contentInner">
            <div ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources"></div>
        </div>
    </div>
</div>