<md-dialog>
    <md-dialog-content class="modal ingredients">
        <div class="title">
            <h2>{{ 'ingredients.create.title' | translate}}</h2>
            <md-button md-no-ink class="md-icon-button pull-left close-btn" aria-label="Delete" ng-click="close()">
                <md-icon md-svg-icon="images/delete-grey.svg" class="delete"></md-icon>
            </md-button>
        </div>
        <div class="error-alert delete-animation enter-animation" ng-repeat="msg in errorMessage track by $index" ng-view>
            <span class="closeIco" ng-click="closeAlert($index)">x</span>
            <div class="text">{{msg.message}}</div>
        </div>
        <form name="createForm" novalidate>
            <div class="form-inner height-auto no-margin">
                <md-input-container class="margin20">
                    <label>{{ 'ingredients.form.name' | translate }}</label>
                    <input type="text" name="name" required ng-model="ingredients.title">
                </md-input-container>
                <md-input-container class="margin10">
                    <label>{{ 'ingredients.form.weight' | translate }}</label>
                    <md-select ng-model="ingredients.weightUnit">
                        <md-option ng-repeat="item in weightUnit" value="{{item.value}}">{{item.value | translate}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="margin10">
                    <label>{{ 'ingredients.form.amount' | translate }}</label>
                    <input type="text" name="amount" class=" width105" required ng-model="ingredients.weightValue">
                </md-input-container>
                <md-input-container class="margin10 relative">
                    <label>{{ 'ingredients.form.price' | translate }}</label>
                    <input type="text" name="price" class="width105" ng-model="ingredients.price">
                    <span class="money-ico">₪</span>
                </md-input-container>
            </div>
            <div class="btn-wrapper">
                <md-button class="md-raised createBtn pullLeft" ng-click="controls()"><i class="ico addIco"></i>{{ 'ingredients.create.btnCreate' | translate }}</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>