<div class="success-alert delete-animation enter-animation" ng-repeat="msg in successMessage track by $index">
    <span class="closeIco" ng-click="closeAlert($index)">x</span>
    <div class="text">{{msg.msg}}</div>
</div>
<div class="container">
    <div class="contentContainer">
        <div class="helpedWrapper">
            <md-button class="md-raised createBtn pullLeft" ng-click="showCreate()"><i class="ico addIco"></i>{{ 'ingredients.list.btnCreate' | translate }}</md-button>
            <div class="searchWrapper">
                <span class="ico icoSearch" ng-click="searchItem(searchText)"></span>
                <input type="text"
                       ng-model="searchText"
                       placeholder="{{ 'ingredients.list.inputSearch' | translate }}">
            </div>
            <span class="page-title">
                חומרי גלם
            </span>
        </div>
        <div class="contentInner">
            <div class="table-list">
                <div class="th-container">
                    <div class="name width317">{{ 'ingredients.list.table.name' | translate }}</div>
                    <div class="date width146">{{ 'ingredients.list.table.weight' | translate }}</div>
                    <div class="rating width137">{{ 'ingredients.list.table.weightUnit' | translate }}</div>
                    <div class="value width137">{{ 'ingredients.list.table.price' | translate }}</div>
                    <div class="actions width110">{{ 'ingredients.list.table.actions' | translate }}</div>
                </div>
                <div class="table-inner">
                    <div class="tr-line " ng-repeat="item in ingredients" ng-view>
                        <div class="name width317" ng-click="edit(item)">{{item.title}}</div>
                        <div class="date width146" ng-click="edit(item)">{{item.weightValue}}</div>
                        <div class="rating width137" ng-click="edit(item)">{{item.weightUnit | translate}}</div>
                        <div class="created-by width137" ng-click="edit(item)">{{item.price}}</div>
                        <div class="actions width110">
                            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Delete" ng-click="deleteDialog(item._id, $event, $index)">
                                <md-icon md-svg-icon="images/delete-black.svg" class="delete"></md-icon>
                            </md-button>
                            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Edit" ng-click="edit(item)">
                                <md-icon md-svg-icon="images/edit-black.svg" class="edit"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-wrapper" ng-show="show">
                <uib-pagination
                        total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        class="pagination-sm"
                        boundary-link-numbers="true"
                        rotate="false"
                        num-pages="numPages"
                        items-per-page="itemsPerPage"
                        previous-text="&rsaquo;"
                        next-text="&lsaquo;"
                >

                </uib-pagination>
            </div>
        </div>
    </div>
</div>