<md-dialog>
    <md-dialog-content class="modal customer">
        <div class="title">
            <h2>{{ 'customer.create.title' | translate}}</h2>
            <md-button md-no-ink class="md-icon-button pull-left close-btn" aria-label="Delete" ng-click="close()">
                <md-icon md-svg-icon="images/delete-grey.svg" class="delete"></md-icon>
            </md-button>
        </div>
        <div class="error-alert delete-animation enter-animation" ng-repeat="msg in errorMessage track by $index" ng-view>
            <span class="closeIco" ng-click="closeAlert($index)">x</span>
            <div class="text">{{msg.message}}</div>
        </div>
        <form name="createForm" novalidate>
            <div class="form-inner height-auto no-margin">
                <md-input-container class="margin20">
                    <label>{{ 'customer.form.inputName' | translate }}</label>
                    <input type="text" name="title" required ng-model="customer.title">
                </md-input-container>
                <md-input-container class="margin10">
                    <label>{{ 'customer.form.inputBussinessNubmer' | translate }}</label>
                    <input type="text" name="amount"  g-model="customer.weightValue">
                </md-input-container>
                <md-input-container class="margin10">
                    <label>{{ 'customer.form.inputPhone' | translate }}</label>
                    <input type="phone" name="phone" ng-model="customer.phone">
                </md-input-container>
                <md-input-container class="margin10">

                    <label>{{ 'customer.form.inputEmail' | translate }}</label>
                    <input type="email" name="email" ng-model="customer.email">
                </md-input-container>
                <md-input-container class="margin10">
                    <label>{{ 'customer.form.inputAddress' | translate }}</label>
                    <input type="text" name="address" ng-model="customer.address">
                </md-input-container>
                <md-input-container class="margin10">
                    <label>{{ 'customer.form.inputCity' | translate }}</label>
                    <input type="text" name="city" ng-model="customer.city">
                </md-input-container>
                <span class="add-more-ingridients customer" ng-click="addrow(item)"></span>
                <div class="margin10 important-dates" ng-repeat="item in importantDates track by $index">
                    <md-datepicker class="width142 datepicker-style" md-placeholder="{{ 'customer.form.inputDate' | translate }}" md-open-on-focus ng-model="item.date"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="margin0 width142 pull-left">
                        <label>{{ 'customer.form.inputDescription' | translate }}</label>
                        <input type="text" name="description" ng-model="item.description">
                    </md-input-container>
                    <span class="customer-remove" ng-click="remove($index)"></span>
                </div>
            </div>
            <div class="btn-wrapper">
                <md-button class="md-raised createBtn pullLeft" ng-click="controls()"><i class="ico addIco"></i>{{ 'customer.create.btnCreate' | translate }}</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>