<div class="success-alert delete-animation enter-animation" ng-repeat="msg in successMessage track by $index">
    <span class="closeIco" ng-click="closeAlert($index)">x</span>
    <div class="text">{{msg.msg}}</div>
</div>
<div class="container">
    <div class="contentContainer">
        <div class="helpedWrapper">
            <md-button class="md-raised createBtn pullLeft" ng-click="showCreate()"><i class="ico addIco"></i>{{ 'customer.view.btnCreate' | translate }}</md-button>
            <div class="searchWrapper">
                <span class="ico icoSearch" ng-click="searchItem(searchText)"></span>
                <input type="text"
                       ng-model="searchText"
                       placeholder="{{ 'customer.view.inputSearch' | translate }}">
            </div>
            <span class="page-title">{{'customer.view.title' | translate}}</span>
        </div>
        <div class="contentInner">
            <div class="table-list">
                <div class="th-container">
                    <div class="name width317">{{ 'customer.view.table.name' | translate }}</div>
                    <div class="date width146">{{ 'customer.view.table.email' | translate }}</div>
                    <div class="rating width137">{{ 'customer.view.table.phone' | translate }}</div>
                    <div class="value width137">{{ 'customer.view.table.address' | translate }}</div>
                    <div class="actions width110">{{ 'customer.view.table.actions' | translate }}</div>
                </div>
                <div class="table-inner">
                    <div class="tr-line " ng-repeat="item in customers" ng-view>
                        <div class="name width317" ng-click="edit(item)">{{item.title}}</div>
                        <div class="email width146" ng-click="edit(item)">{{item.email}}</div>
                        <div class="phone width137" ng-click="edit(item)">{{item.phone}}</div>
                        <div class="address width137" ng-click="edit(item)">{{item.address}}</div>
                        <div class="actions width137">
                            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Delete" ng-click="deleteDialog(item._id, $event, $index)">
                                <md-icon md-svg-icon="images/delete-black.svg" class="delete"></md-icon>
                            </md-button>
                            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Edit" ng-click="edit(item)">
                                <md-icon md-svg-icon="images/edit-black.svg" class="edit"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-wrapper" ng-show="show">
                <uib-pagination
                        total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        class="pagination-sm"
                        boundary-link-numbers="true"
                        rotate="false"
                        num-pages="numPages"
                        items-per-page="itemsPerPage"
                        previous-text="&rsaquo;"
                        next-text="&lsaquo;"
                >

                </uib-pagination>
            </div>
        </div>
    </div>
</div>