<md-dialog>
    <md-dialog-content class="modal error-modal">
        <div class="title">
            <md-button md-no-ink class="md-icon-button pull-left close-btn" aria-label="Delete" ng-click="close()">
                <md-icon md-svg-icon="images/delete-grey.svg" class="delete"></md-icon>
            </md-button>
        </div>
        <div class="form-inner height-auto no-margin">
            <div class="alert-ico"></div>
            <span class="title">{{ 'window.error' | translate }}</span>
                    <span class="helped-title">
                        {{ 'window.helped_error' | translate }} <strong>{{ 'window.helped_error_strong' | translate }}</strong>
                    </span>
        </div>
        <md-dialog-actions layout="row">
            <div class="table">
                <md-button class="md-raised remove-btn" ng-click="close()">{{ 'window.btn_no' | translate }}</md-button>
                <md-button class="md-raised red remove-btn" ng-click="remove()">{{ 'window.btn_yes' | translate }}</md-button>
            </div>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>