<div class="container">
    <a ui-sref="Dashboard" class="logo">
    </a>
    <div class="user-data">
        <div class="thumb">
            <img ng-src="" />
        </div>
        <div class="text">
            <span class="title">{{profileData.name}}</span>
            <span class="helped">{{profileData.business.packageType}}</span>
        </div>
    </div>
</div>