<div class="navWrapper">
    <div class="item-nav orange"
         ng-class="{active: ('Ingredients' | includedByState) || ('Category' | includedByState) || ('CategoryMain' | includedByState)
         || ('CategoryRecipe' | includedByState) || ('CategorySub' | includedByState) || ('RecipeEdit' | includedByState)
         || ('SubRecipeView' | includedByState) || ('RecipeView' | includedByState) || ('SubRecipeEdit' | includedByState)}">
        <span class="mainLink">
            <i class="ico categoryIco book"></i>
            <span class="text">ניהול מתכונים</span>
        </span>
        <ul class="secondNavigation">
            <li ui-sref="CategoryMain" ui-sref-active="active"><span>משפחות</span></li>
            <li ui-sref="Category" ui-sref-active="active"><span >קטגוריות</span></li>
            <li ui-sref="Ingredients" ui-sref-active="active"><span>חומרי גלם</span></li>
        </ul>
    </div>
    <div class="item-nav lgreen" ng-class="{active: ('SubRecipe' | includedByState) || ('Recipe' | includedByState)}">
        <span class="mainLink">
            <i class="ico categoryIco light"></i>
            <span class="text">צור מתכון</span>
        </span>
        <ul class="secondNavigation">
            <li ui-sref="Recipe" ui-sref-active="active"><span>יצירת מתכון</span></li>
            <li ui-sref="SubRecipe" ui-sref-active="active"><span>יצירת תת מתכון</span></li>
        </ul>
    </div>
    <div class="item-nav green" ng-class="{active: ('Customer' | includedByState) || ('Calendar' | includedByState)}">
        <span class="mainLink">
            <i class="ico categoryIco file"></i>
            <span class="text">ניהול עסק</span>
        </span>
        <ul class="secondNavigation">
            <li ui-sref="Customer" ui-sref-active="active"><span>ניהול לקוחות</span></li>
            <li ui-sref="Calendar" ui-sref-active="active"><span>ניהול הזמנות</span></li>
        </ul>
    </div>
    <div class="item-nav lorange no-child" ui-sref="Management" ui-sref-active="active">
        <span class="mainLink">
            <i class="ico categoryIco setting"></i>
            <span class="text">הגדרות</span>
        </span>
    </div>
</div>