<div class="success-alert delete-animation enter-animation" ng-repeat="msg in successMessage track by $index">
    <span class="closeIco" ng-click="closeAlert($index)">x</span>
    <div class="text">{{msg.msg}}</div>
</div>
<div class="error-alert delete-animation enter-animation" ng-repeat="msg in errorMessage track by $index" ng-view>
    <span class="closeIco" ng-click="closeAlert()">x</span>
    <div class="text">{{msg.msg}}</div>
</div>
<div class="container">
    <div class="contentContainer">
        <div class="helpedWrapper">
            <h2 class="page-title">
                {{'recipe.sub.edit.title' | translate}}
                <span class="title-ico pull-left">
                    <img src="images/light.svg" />
                </span>
            </h2>
            <span class="back-btn" ui-sref="CategorySub({id:recipe.subRecipeCategory})">{{'recipe.sub.edit.back' | translate}}</span>
        </div>
        <div class="contentInner add-recipe">
            <form name="addRecipe">
                <div class="right-side pull-right">
                    <div class="input-group">
                        <md-input-container class="margin20">
                            <label>{{ 'recipe.form.name' | translate }}</label>
                            <input type="text" name="title" required ng-model="recipe.title">
                        </md-input-container>
                        <md-input-container class="margin10">
                            <label>{{ 'recipe.form.category' | translate }}</label>
                            <md-select ng-model="recipe.subRecipeCategory">
                                <md-option ng-repeat="item in category" value="{{item._id}}">{{item.title}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="input-group">
                        <md-input-container class="margin10 width142">
                            <label>{{ 'recipe.form.time' | translate }}</label>
                            <input type="text" name="title" ng-model="recipe.bakingTime">
                        </md-input-container>
                        <md-input-container class="margin10 width142">
                            <label>{{ 'recipe.form.temperature' | translate }}</label>
                            <input type="text" name="title" ng-model="recipe.bakingTemperature">
                        </md-input-container>
                    </div>
                    <div class="input-radio-list">
                        <md-checkbox value="{{attr.value}}" class="md-primary"
                                     aria-label="{{attr.value}}" ng-repeat="attr in attributes track by $index"
                                     tabindex="{{$index}}" aria-checked="true" ng-checked="attr.checkValue" ng-click="onChangeAttributes(attr)">
                            {{attr.description}}
                        </md-checkbox>
                    </div>
                    <div class="dish-block">
                        <span class="title">{{ 'recipe.dish.title' | translate }}</span>
                        <div class="input-group">
                            <md-input-container class="margin20">
                                <label>{{ 'recipe.dish.title' | translate }}</label>
                                <md-select ng-model="recipe.bakingDish.type">
                                    <md-option ng-repeat="item in initDish track by $index" value="{{item.dbValue}}" ng-click="selected($index)">{{item.title_HE}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div class="input-container" ng-if="isSelected">
                                <md-input-container class="margin10" ng-repeat="input in recipe.bakingDish.ui track by $index">
                                    <label>{{input.title_HE}}</label>
                                    <input type="{{input.type}}" name="input.{{input.title}}" string-to-number ng-model="input.value" ng-change="valueChanged()">
                                </md-input-container>
                            </div>
                            <div class="input-container" ng-repeat="item in initDish" ng-if="(recipe.bakingDish.type === item.dbValue) && (isSelectedFalse)">
                                <md-input-container class="margin10" ng-repeat="input in item.ui track by $index">
                                    <label>{{input.title_HE}}</label>
                                    <input type="{{input.type}}" name="input.{{input.title}}" string-to-number ng-model="input.value" ng-change="valueChanged()">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-side pull-left">
                    <div class="thumbnail">
                        <div ngf-drop ngf-select ng-model="file" class="drop-box"
                             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                             accept="image/*"
                             ngf-pattern="'image/*,application/pdf'">
                            <img ngf-thumbnail="file || 'images/recipe-thumb.png'" ng-src="{{imgUrl + recipe.picture}}">
                        </div>
                        <div ngf-no-file-drop>
                            <img ngf-thumbnail="file || 'images/recipe-thumb.png'" ng-src="{{imgUrl + recipe.picture}}">
                        </div>
                    </div>
                    <div class="buttons">
                        <span class="clear" ng-click="clearImage()"></span>
                        <span class="choose" ngf-select ng-model="file"></span>
                    </div>
                    <div class="rating">
                        <md-radio-group ng-model="recipe.rating">
                            <md-radio-button value="5" class="md-primary" aria-label="5"></md-radio-button>
                            <md-radio-button value="4" class="md-primary" aria-label="4"></md-radio-button>
                            <md-radio-button value="3" class="md-primary" aria-label="3"></md-radio-button>
                            <md-radio-button value="2" class="md-primary" aria-label="2"></md-radio-button>
                            <md-radio-button value="1" class="md-primary" aria-label="1"></md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div class="item-add">
                    <div class="checkbox-wrapper width188 mr0">
                        <span class="title">{{ 'recipe.dish.ingredients' | translate }}</span>
                    </div>
                    <div class="checkbox-wrapper width203">
                        <span class="add-more-ingridients" ng-click="addrow(item)"></span>
                        <span class="title">{{ 'recipe.dish.notes' | translate }}</span>
                    </div>
                    <div class="checkbox-wrapper width50">
                        <span class="title">{{ 'recipe.dish.checkbox' | translate }}</span>
                    </div>
                    <div class="remove-wrapper">
                        <span class="title">{{ 'recipe.dish.remove' | translate }}</span>
                    </div>
                </div>
                <div class="item-add" ng-repeat="ingr in ingredients track by $index">
                    <div class="ingridients-list width188 nomr heightNormal">
                        <ul>
                            <li ng-click="sendindex($index)">
                                <md-autocomplete
                                        class="width87 margin0 pull-right ingridients-input"
                                        md-no-cache
                                        md-selected-item-change="selectItem(item, $index)"
                                        md-selected-item="selectedItem"
                                        md-search-text="searchText"
                                        md-items="item in searchItem(searchText)"
                                        md-item-text="item.title"
                                        ng-model="item.title"
                                        md-min-length="0"
                                        md-search-text-change="searchInputChange(searchText, $index)"
                                        placeholder="{{ingr.title}}">
                                    <span md-highlight-text="searchText" class="width87">
                                        {{item.title}}
                                    </span>
                                </md-autocomplete>
                                <md-input-container class="width30 margin0 ingridients-input">
                                    <input class="width30" type="text" name="" ng-model="ingredients[$index].weightValue" aria-label="weightValue">
                                </md-input-container>
                                <md-input-container class="width30 margin0 ingridients-input">
                                    <md-select ng-model="ingredients[$index].weightUnit" aria-label="ingredients[$index].weightUnit">
                                        <md-option ng-repeat="item in weightUnit" value="{{item.value}}" aria-label="{{item.value}}">{{item.value | translate}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </li>
                        </ul>
                    </div>
                    <div class="instruction heightNormal width203">
                        <md-input-container class="margin0 ingridients-input">
                            <input type="text" name="" ng-model="ingredients[$index].notes" aria-label="notes">
                        </md-input-container>
                    </div>
                    <div class="checkbox-wrapper width50 ingridients-input">
                        <md-checkbox class="" aria-label="true" ng-model="ingredients[$index].line"></md-checkbox>
                    </div>
                    <div class="remove-wrapper">
                        <span class="remove-item" ng-click="remove($index)"></span>
                    </div>
                </div>
                <div class="input-group width664 submit-block mt60">
                    <md-button class="md-raised createBtn pullLeft" ng-click="update()"><i class="ico addIco"></i>{{ 'recipe.dish.btnEdit' | translate }}</md-button>
                </div>
            </form>
        </div>
    </div>
</div>