<div class="recipeWrapper add-recipe">
<div class="container">
    <div class="content subview">
        <h1>{{recipe.title}}</h1>
        <ul>
            <li>
                <div class="half">
                    <span class="title">{{category.title}}</span>
                </div>
                <div class="half">
                    <span class="time" ng-if="recipe.bakingTime"><strong>{{recipe.bakingTime}}</strong> דקות </span>
                </div>
            </li>
            <li>
                <div class="half">
                    <span class="descr"><strong ng-repeat="item in recipe.attributes" ng-if="item.checked">{{item.description}}</strong></span>
                </div>
                <div class="half">
                    <span class="temp" ng-if="recipe.bakingTemperature"><strong>{{recipe.bakingTemperature}}°</strong></span>
                </div>
            </li>
            <li>
                <div class="half">
                    <span class="scheme">
                        {{recipe.bakingDish.type | translate}}
                        <b ng-repeat="item in recipe.bakingDish.ui"> {{item.value}}</b>
                    </span>
                </div>
                <div class="half">
                </div>
            </li>
            <li>
                <div class="half">
                    <md-input-container class="margin20">
                        <label>הכפלה</label>
                        <input type="number" name="name" ng-model="multiplier">
                    </md-input-container>
                </div>
            </li>
        </ul>
        <div class="items">
            <div class="item">
                <ul>
                    <li>
                        <div class="half">
                            <span class="title">חומרי גלם</span>
                        </div>
                        <div class="half">
                            <span class="title">הוראות הכנה</span>
                        </div>
                    </li>
                    <li ng-repeat="item in recipe.ingredients" ng-class="item.line === true ? 'hr' : ''">
                        <div class="half">
                            <p class="text" >{{item.weightUnit | translate}} {{item.weightValue * ((multiplier !== null && multiplier !== 0) ?  multiplier : 1)}} {{item.title}}</p>
                        </div>
                        <div class="half">
                            <p class="text">{{item.notes}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="additional" ng-if="recipe.notes">
            <span class="title">תוספות</span>
            <p>{{recipe.notes}}</p>
        </div>
    </div>
    <div class="thumb left-side">
        <div class="thumbnail">
            <div>
                <img ng-src="{{imgUrl + recipe.picture}}" ng-if="recipe.picture">
                <img ng-src="images/recipe-thumb.png" ng-if="!recipe.picture">
            </div>
        </div>
        <div class="buttons">
            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Print" ui-sref="SubRecipeView({id:recipe._id})">
                <md-icon md-svg-icon="images/print-black.svg" class="print"></md-icon>
            </md-button>
            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Edit" ui-sref="SubRecipeEdit({id:recipe._id})">
                <md-icon md-svg-icon="images/edit-black.svg" class="edit"></md-icon>
            </md-button>
            <md-button md-no-ink class="md-icon-button pull-left" aria-label="Close" ui-sref="CategorySub({id:category._id})">
                <md-icon md-svg-icon="images/delete-black.svg" class="delete"></md-icon>
            </md-button>
        </div>
        <div class="rating">
            <md-radio-group ng-model="recipe.rating">
                <md-radio-button value="5" class="md-primary" aria-label="5"></md-radio-button>
                <md-radio-button value="4" class="md-primary" aria-label="4"></md-radio-button>
                <md-radio-button value="3" class="md-primary" aria-label="3"></md-radio-button>
                <md-radio-button value="2" class="md-primary" aria-label="2"></md-radio-button>
                <md-radio-button value="1" class="md-primary" aria-label="1"></md-radio-button>
            </md-radio-group>
        </div>
    </div>
</div>
</div>