<md-dialog>
    <md-dialog-content class="modal category">
        <div class="title">
            <h2>{{ 'recipe.sub.category.edit.title' | translate}}</h2>
            <md-button md-no-ink class="md-icon-button pull-left close-btn" aria-label="Delete" ng-click="close()">
                <md-icon md-svg-icon="images/delete-grey.svg" class="delete"></md-icon>
            </md-button>
        </div>
        <div class="error-alert delete-animation enter-animation" ng-repeat="msg in errorMessage track by $index" ng-view>
            <span class="closeIco" ng-click="closeAlert($index)">x</span>
            <div class="text">{{msg.message}}</div>
        </div>
        <form name="createForm" novalidate>
            <div class="form-inner">
                <md-input-container>
                    <label>{{ 'recipe.sub.category.edit.inputTitle' | translate }}</label>
                    <input type="text" name="title" required ng-model="category.title">
                </md-input-container>
                <div class="item-list" scrollbar="{autoUpdate: true}">
                    <md-radio-group ng-model="category.picture">
                        <md-radio-button ng-repeat="item in image"
                                         ng-value="item"
                                         aria-label="{{item}}"
                        >
                            <span class="icon">
                                <img ng-src="{{recipeimageurl + item}}" />
                            </span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="btn-wrapper">
                <md-button class="md-raised createBtn pullLeft" ng-click="create()"><i class="ico addIco"></i>{{ 'recipe.sub.category.edit.btnEdit' | translate }}</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>