<md-dialog>
    <md-dialog-content class="modal category">
        <div class="title">
            <h2>{{ 'recipe.sub.category.share.title' | translate}}</h2>
            <md-button md-no-ink class="md-icon-button pull-left close-btn" aria-label="Delete" ng-click="close()">
                <md-icon md-svg-icon="images/delete-grey.svg" class="delete"></md-icon>
            </md-button>
        </div>
        <div class="error-alert delete-animation enter-animation" ng-repeat="msg in errorList track by $index" ng-view>
            <span class="closeIco" ng-click="closeAlert()">x</span>
            <div class="text">{{msg.message}}</div>
        </div>
        <form name="createForm" novalidate>
            <div class="form-inner height-auto">
                <md-input-container class="area">
                    <label>{{ 'recipe.sub.category.share.inputEmail' | translate }}</label>
                    <textarea style="max-height: 115px; line-height: 23px;" rows="5" name="emails" required ng-model="emailsList"></textarea>
                    <span ng-repeat="line in [1,2,3,4,5]" class="ng-scope"></span>
                </md-input-container>
            </div>
            <div class="btn-wrapper">
                <md-button class="md-raised createBtn pullLeft" ng-click="share()"><i class="ico shareIco"></i>{{ 'recipe.sub.category.share.btnShare' | translate }}</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>