<div class="success-alert delete-animation enter-animation" ng-repeat="msg in successMessage track by $index">
    <span class="closeIco" ng-click="closeAlert($index)">x</span>
    <div class="text">{{msg.msg}}</div>
</div>
<div class="container">
    <div class="contentContainer">
        <div class="helpedWrapper">
            <md-button class="md-raised createBtn pullLeft" ng-click="showCreate()"><i class="ico addIco"></i>{{ 'recipe.sub.category.view.btnCreate' | translate }}</md-button>
            <div class="searchWrapper">
                <span class="ico icoSearch" ng-click="searchItem(searchText)"></span>
                <input type="text"
                       ng-model="searchText"
                       placeholder="{{ 'recipe.sub.category.view.inputSearch' | translate }}">
            </div>
        </div>
        <div class="contentInner">
            <div class="item" ng-repeat="item in category">
                <span class="isHared" ng-if="item.isShared"></span>
                <div class="thumbnail" ui-sref="CategorySub({id:item._id})">
                    <div class="table-cell">
                        <img ng-src="{{recipeimageurl + item.picture}}">
                    </div>
                </div>
                <span class="title" ui-sref="CategorySub({id:item._id})">
                    {{item.title}}
                </span>
                <div class="btnWrapper">
                    <md-button md-no-ink class="md-icon-button pull-left" aria-label="Share" ng-click="showShare(item._id)" ng-if="!item.shareType">
                        <md-icon md-svg-icon="images/share.svg" class="share"></md-icon>
                    </md-button>
                    <md-button md-no-ink class="md-icon-button pull-left" aria-label="Edit" ng-click="edit(item._id)" ng-if="!item.shareType">
                        <md-icon md-svg-icon="images/edit.svg" class="edit"></md-icon>
                    </md-button>
                    <md-button md-no-ink class="md-icon-button pull-right" aria-label="Delete" ng-click="deleteDialog(item._id, $event, $index)" ng-if="!item.shareType">
                        <md-icon md-svg-icon="images/delete.svg" class="delete"></md-icon>
                    </md-button>
                </div>
            </div>
            <div class="pagination-wrapper" ng-show="show">
                <uib-pagination
                        total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxSize"
                        class="pagination-sm"
                        boundary-link-numbers="true"
                        rotate="false"
                        num-pages="numPages"
                        items-per-page="itemsPerPage"
                        previous-text="&rsaquo;"
                        next-text="&lsaquo;"
                >

                </uib-pagination>
            </div>
        </div>
    </div>
</div>