<div class="recipeWrapper calculate">
    <div class="container">
        <div class="content width301">
            <h1>{{'calculation.page_title' | translate}}</h1>
            <div class="right-side pull-right">
                <div class="pull-right width301">
                    <md-input-container class="margin20 width142 pull-right">
                        <label>{{ 'calculation.form.category' | translate }}</label>
                        <md-select ng-model="category">
                            <md-option ng-repeat="item in category" ng-click="seletectedCategory(item)">{{item.title}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-autocomplete
                            class="margin20 width142 pull-left"
                            md-no-cache
                            md-selected-item-change="selectItem(item)"
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-items="item in searchItem(searchText)"
                            md-item-text="item.title"
                            ng-model="item.title"
                            md-min-length="0"
                            placeholder="{{ 'calculation.form.recipe' | translate }}">
                        <span md-highlight-text="searchText" class="width87">
                            {{item.title}}
                        </span>
                    </md-autocomplete>
                </div>
                <div class="pull-right width301">
                    <md-input-container class="margin10 width142 pull-right">
                        <label>{{ 'calculation.form.quantity' | translate }}</label>
                        <input type="text" name="quantity" ng-model="quantity" required>
                    </md-input-container>
                    <md-input-container class="margin10 width142 pull-left">
                        <label>{{ 'calculation.form.duration' | translate }}</label>
                        <input type="text" name="duration" ng-model="duration" required>
                    </md-input-container>
                </div>
                <md-input-container class="margin10 width301">
                    <label>{{ 'calculation.form.hour' | translate }}</label>
                    <input type="text" name="hour" ng-model="hour" required>
                </md-input-container>
                <div class="button-block">
                    <md-button class="md-raised createBtn pullLeft" ng-click="save()">{{ 'calculation.btn_calc' | translate }}</md-button>
                </div>
            </div>
            <div class="items">
                <div class="item">
                    <h2>{{ 'calculation.list_title' | translate }}</h2>
                    <ul>
                        <li>
                            <div class="half">
                                <span class="title">חומרי גלם</span>
                            </div>
                            <div class="half">
                                <span class="title">הוראות הכנה</span>
                            </div>
                        </li>
                        <li>
                            <div class="half">
                                <p class="text"></p>
                            </div>
                            <div class="half">
                                <p class="text"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>