<div class="success-alert delete-animation enter-animation" ng-repeat="msg in successMessage track by $index">
    <span class="closeIco" ng-click="closeAlert($index)">x</span>
    <div class="text">{{msg.msg}}</div>
</div>
<div class="error-alert delete-animation enter-animation" ng-repeat="msg in errorMessage track by $index" ng-view>
    <span class="closeIco" ng-click="closeAlert()">x</span>
    <div class="text">{{msg.msg}}</div>
</div>
<div class="container">
    <div class="contentContainer">
        <div class="helpedWrapper">
            <h2 class="page-title">
                {{ 'recipe.main.create.title' | translate }}
                <span class="title-ico pull-left">
                    <img src="images/light.svg" />
                </span>
            </h2>
        </div>
        <div class="contentInner add-recipe">
            <form name="addRecipe">
                <div class="right-side pull-right">
                    <div class="input-group">
                        <md-input-container class="margin20">
                            <label>{{ 'recipe.form.name' | translate }}</label>
                            <input type="text" name="title" required ng-model="recipe.title">
                        </md-input-container>
                        <md-input-container class="margin10">
                            <label>{{ 'recipe.form.category' | translate }}</label>
                            <md-select ng-model="recipe.recipeCategory">
                                <md-option ng-repeat="item in category" value="{{item._id}}">{{item.title}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="input-radio-list">
                        <md-checkbox value="{{attr.value}}" class="md-primary"
                                     aria-label="{{attr.value}}" ng-repeat="attr in attributes track by $index" tabindex="{{$index}}" ng-checked="attr.checkValue" ng-click="onChangeAttributes(attr)">
                            {{attr.description}}
                        </md-checkbox>
                    </div>
                    <div class="input-group drawer-block">
                        <span class="drawer" ng-click="draw()">{{'recipe.draw.open' | translate}}</span>
                    </div>
                    <div class="dish-block">
                        <span class="title">{{ 'recipe.dish.title' | translate }}</span>
                        <div class="input-group">
                            <md-input-container class="margin20">
                                <label>{{ 'recipe.dish.title' | translate }}</label>
                                <md-select ng-model="recipe.bakingDish.type">
                                    <md-option ng-repeat="item in initDish track by $index" value="{{item.dbValue}}" ng-click="selected($index)">{{item.title_HE}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div class="input-container" ng-repeat="item in initDish" ng-if="recipe.bakingDish.type === item.dbValue">
                                <md-input-container class="margin10" ng-repeat="input in item.ui track by $index">
                                    <label>{{input.title_HE}}</label>
                                    <input type="{{input.type}}" name="input.{{input.title}}" string-to-number ng-model="input.value" ng-change="valueChanged()">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-side pull-left">
                    <div class="thumbnail">
                        <div ngf-drop ngf-select ng-model="file" class="drop-box"
                             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                             accept="image/*"
                             ngf-pattern="'image/*,application/pdf'">
                            <img ngf-thumbnail="file || 'images/recipe-thumb.png'">
                        </div>
                        <div ngf-no-file-drop>
                            <img ngf-thumbnail="file || 'images/recipe-thumb.png'">
                        </div>
                    </div>
                    <div class="buttons">
                        <span class="clear" ng-click="clearImage()"></span>
                        <span class="choose" ngf-select ng-model="file"></span>
                    </div>
                    <div class="rating">
                        <md-radio-group ng-model="recipe.rating">
                            <md-radio-button value="5" class="md-primary" aria-label="5"></md-radio-button>
                            <md-radio-button value="4" class="md-primary" aria-label="4"></md-radio-button>
                            <md-radio-button value="3" class="md-primary" aria-label="3"></md-radio-button>
                            <md-radio-button value="2" class="md-primary" aria-label="2"></md-radio-button>
                            <md-radio-button value="1" class="md-primary" aria-label="1"></md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div class="item-add">
                    <div class="input-group">
                        <md-input-container class="margin20 width171 pull-right">
                            <label>{{ 'recipe.dish.category' | translate }}</label>
                            <md-select ng-model="recipe.subRecipes">
                                <md-option ng-repeat="item in subCategory" value="{{item._id}}" ng-click="seletectedCategory(item)">{{item.title}}</md-option>
                            </md-select>
                        </md-input-container>
                        <div class="searchWrapper margin20  width178 pull-right">
                            <span class="ico icoSearch1"></span>
                            <md-autocomplete
                                    class="width178 margin0 pull-right ingridients-input full-width"
                                    md-no-cache
                                    md-selected-item-change="selectItem(item)"
                                    md-selected-item="selectedItem"
                                    md-search-text="searchText"
                                    md-items="item in searchItem(searchText)"
                                    md-item-text="item.title"
                                    ng-model="item.title"
                                    md-min-length="0">
                                <md-item-template>
                                <span class="item-title">
                                    <span> {{item.title}} </span>
                                </span>
                                <span class="item-metadata">
                                    <div class="rating-ico active-1">
                                        <span></span>
                                    </div>
                                    <span class="item-metastat">{{item.rating}}/5</span>
                                </span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        <md-button class="md-raised pull-right add-new" ng-click="createSub()">{{ 'recipe.dish.btnAdd' | translate }}</md-button>
                    </div>
                    <div class="input-group">
                        <div class="category-list width171" ng-scrollbar rebuild-on="rebuild:me">
                            <ul>
                                <li ng-repeat="item in recipeDynamicList track by $index">
                                    <span ng-click="showList(item)">{{item.title}}</span>
                                    <md-checkbox class="view-check" aria-label="true" ng-model="item.line"></md-checkbox>
                                    <span class="trash-ico" ng-click="remove($index)"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="ingridients-list main-list" ng-scrollbar rebuild-on="rebuild:me">
                            <div class="width188 no-padding main-list" >
                                <span class="title">{{ 'recipe.dish.ingredients' | translate }}</span>
                                <span class="add-more-ingridients absolute" ng-click="addIngredients()" ng-if="listShow"></span>
                                <ul class="ing-padding-list">
                                    <li ng-repeat="ingr in ingredientsList track by $index">
                                        <md-autocomplete
                                                class="margin0 pull-right ingridients-input"
                                                md-no-cache
                                                md-selected-item-change="selectItemIngredients(ingredient, $index);"
                                                md-selected-item="selectedItemIngredients"
                                                md-search-text="searchIngr"
                                                md-items="ingredient in searchIngredients(searchIngr)"
                                                md-item-text="ingredient.title"
                                                ng-model="ingredient.title"
                                                md-min-length="0"
                                                md-search-text-change="searchInputChange(searchIngr, $index)"
                                                placeholder="{{ingredientsList[$index].title}}">
                                            <span md-highlight-text="searchIngr" class="width87">
                                                {{ingredient.title}}
                                            </span>
                                        </md-autocomplete>
                                        <md-input-container class="width30 margin0 ingridients-input">
                                            <input class="width30" type="text" name="" ng-model="ingredientsList[$index].weightValue" aria-label="weightValue">
                                        </md-input-container>
                                        <md-input-container class="width30 margin0 ingridients-input">
                                            <md-select ng-model="ingredientsList[$index].weightUnit" aria-label="ingredientsList[$index].weightUnit">
                                                <md-option ng-repeat="item in weightUnit" value="{{item.value}}" aria-label="{{item.value}}">{{item.value | translate}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </li>
                                </ul>
                            </div>
                            <div class="width243 no-padding main-list">
                                <span class="title">{{ 'recipe.dish.instructions' | translate }}</span>
                                <ul>
                                    <li ng-repeat="item in ingredientsList track by $index" class="notes-list">
                                        <md-input-container class="width100p margin0 ingridients-input">
                                            <input class="width100p" type="text" name="" ng-model="ingredientsList[$index].notes" aria-label="weightUnit">
                                        </md-input-container>
                                        <div class="remove-wrapper">
                                            <span class="remove-item" ng-click="removeIngredients($index)"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group notes">
                    <div class="area width298">
                        <textarea placeholder="{{ 'recipe.dish.notes' | translate }}" ng-model="recipe.notes"></textarea>
                        <span ng-repeat="line in [1,2,3]"></span>
                    </div>
               </div>
                <div class="input-group width664 submit-block">
                    <md-button class="md-raised createBtn pullLeft" ng-click="create()"><i class="ico addIco"></i>{{ 'recipe.dish.btnCreate' | translate }}</md-button>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
        <md-dialog>
            <md-dialog-content class="modal modal-drawer">
                <form name="drawForm" novalidate>
                    <div class="form-inner height434 no-margin">
                        <div class="draw-nav">
                            <div class="dropdown-menu md-whiteframe-z1" ng-class="{active:isActive}">
                                <div class="image-container" ng-scrollbar rebuild-on="rebuild:me">
                                    <ul>
                                        <li ng-repeat="item in sketchImage" ng-click="pickedItem(item)">
                                            <img ng-src="{{item}}" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-wrapper">
                                    <md-button class="md-raised createBtn pull-right" ng-click="pushImage()">{{ 'recipe.draw.select' | translate }}</md-button>
                                </div>
                            </div>
                            <span class="image" ng-click="myDropdownIsActive()"></span>
                            <span class="rectangle" ng-click="fabric.addRect()"></span>
                            <span class="circle" ng-click="fabric.addCircle()"></span>
                            <span class="half-circle" ng-click="fabric.addHalfCircle()"></span>
                            <span class="triangle" ng-click="fabric.addTriangle()"></span>
                            <span class="line" ng-click="fabric.addLine()"></span>
                            <span class="text" ng-click="fabric.addText()"></span>
                            <span class="arrow" ng-click="fabric.addArrow()"></span>
                            <span class="trash" ng-click="fabric.deleteActiveObject()"></span>
                        </div>
                        <div class="draw-container">
                            <div class="draw-inner">
                                <div class="image-builder">
                                    <div class="fabric-container">
                                        <canvas fabric="fabric" style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrapper">
                                <md-button class="md-raised createBtn pull-right" ng-click="updateCanvas()">{{ 'recipe.draw.save' | translate }}</md-button>
                                <md-button class="md-raised createBtn pull-right" ng-click="close()">{{ 'recipe.draw.close' | translate }}</md-button>
                            </div>
                        </div>
                    </div>
                </form>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>