@font-face {
  font-family: 'Assistant';
  src: url("../fonts/Assistant-Bold.ttf");
  font-weight: 500; }
@font-face {
  font-family: 'Assistant';
  src: url("../fonts/Assistant-Regular.ttf"); }
@font-face {
  font-family: 'Assistant';
  src: url("../fonts/Assistant-Light.ttf");
  font-weight: 400; }
input {
  direction: rtl; }

.cssload-preload-juggle {
  width: 292px;
  height: 292px;
  position: fixed;
  top: 50%;
  margin-top: -146px;
  left: 50%;
  margin-left: -292px;
  z-index: 10; }

.cssload-preload-juggle div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10.5px;
  background: #957155;
  margin-top: 146px;
  margin-left: 146px;
  animation: cssload-juggle 2.73s linear infinite;
  -o-animation: cssload-juggle 2.73s linear infinite;
  -ms-animation: cssload-juggle 2.73s linear infinite;
  -webkit-animation: cssload-juggle 2.73s linear infinite;
  -moz-animation: cssload-juggle 2.73s linear infinite; }

.cssload-preload-juggle div:nth-child(1) {
  animation-delay: -0.91s;
  -o-animation-delay: -0.91s;
  -ms-animation-delay: -0.91s;
  -webkit-animation-delay: -0.91s;
  -moz-animation-delay: -0.91s; }

.cssload-preload-juggle div:nth-child(2) {
  animation-delay: -1.82s;
  -o-animation-delay: -1.82s;
  -ms-animation-delay: -1.82s;
  -webkit-animation-delay: -1.82s;
  -moz-animation-delay: -1.82s; }

@keyframes cssload-juggle {
  0% {
    transform: translateX(0px) translateY(0px); }
  12.5% {
    transform: translateX(26.5px) translateY(-56px) scale(1.1);
    background: #957155; }
  25% {
    transform: translateX(54px) translateY(0px);
    animation-timing-function: ease-out; }
  37.5% {
    transform: translateX(26.5px) translateY(56px); }
  50% {
    transform: translateX(0px) translateY(0px); }
  62.5% {
    transform: translateX(-26.5px) translateY(-56px) scale(1.1);
    animation-timing-function: ease-in; }
  75% {
    transform: translateX(-54px) translateY(0px);
    animation-timing-function: ease-out; }
  87.5% {
    transform: translateX(-26.5px) translateY(56px); }
  100% {
    transform: translateX(0px) translateY(0px); } }
@-o-keyframes cssload-juggle {
  0% {
    -o-transform: translateX(0px) translateY(0px); }
  12.5% {
    -o-transform: translateX(26.5px) translateY(-56px) scale(1.1);
    background: #957155; }
  25% {
    -o-transform: translateX(54px) translateY(0px);
    -o-animation-timing-function: ease-out; }
  37.5% {
    -o-transform: translateX(26.5px) translateY(56px); }
  50% {
    -o-transform: translateX(0px) translateY(0px); }
  62.5% {
    -o-transform: translateX(-26.5px) translateY(-56px) scale(1.1);
    -o-animation-timing-function: ease-in; }
  75% {
    -o-transform: translateX(-54px) translateY(0px);
    -o-animation-timing-function: ease-out; }
  87.5% {
    -o-transform: translateX(-26.5px) translateY(56px); }
  100% {
    -o-transform: translateX(0px) translateY(0px); } }
@-ms-keyframes cssload-juggle {
  0% {
    -ms-transform: translateX(0px) translateY(0px); }
  12.5% {
    -ms-transform: translateX(26.5px) translateY(-56px) scale(1.1);
    background: #957155; }
  25% {
    -ms-transform: translateX(54px) translateY(0px);
    -ms-animation-timing-function: ease-out; }
  37.5% {
    -ms-transform: translateX(26.5px) translateY(56px); }
  50% {
    -ms-transform: translateX(0px) translateY(0px); }
  62.5% {
    -ms-transform: translateX(-26.5px) translateY(-56px) scale(1.1);
    -ms-animation-timing-function: ease-in; }
  75% {
    -ms-transform: translateX(-54px) translateY(0px);
    -ms-animation-timing-function: ease-out; }
  87.5% {
    -ms-transform: translateX(-26.5px) translateY(56px); }
  100% {
    -ms-transform: translateX(0px) translateY(0px); } }
@-webkit-keyframes cssload-juggle {
  0% {
    -webkit-transform: translateX(0px) translateY(0px); }
  12.5% {
    -webkit-transform: translateX(26.5px) translateY(-56px) scale(1.1);
    background: #957155; }
  25% {
    -webkit-transform: translateX(54px) translateY(0px);
    -webkit-animation-timing-function: ease-out; }
  37.5% {
    -webkit-transform: translateX(26.5px) translateY(56px); }
  50% {
    -webkit-transform: translateX(0px) translateY(0px); }
  62.5% {
    -webkit-transform: translateX(-26.5px) translateY(-56px) scale(1.1);
    -webkit-animation-timing-function: ease-in; }
  75% {
    -webkit-transform: translateX(-54px) translateY(0px);
    -webkit-animation-timing-function: ease-out; }
  87.5% {
    -webkit-transform: translateX(-26.5px) translateY(56px); }
  100% {
    -webkit-transform: translateX(0px) translateY(0px); } }
@-moz-keyframes cssload-juggle {
  0% {
    -moz-transform: translateX(0px) translateY(0px); }
  12.5% {
    -moz-transform: translateX(26.5px) translateY(-56px) scale(1.1);
    background: #957155; }
  25% {
    -moz-transform: translateX(54px) translateY(0px);
    -moz-animation-timing-function: ease-out; }
  37.5% {
    -moz-transform: translateX(26.5px) translateY(56px); }
  50% {
    -moz-transform: translateX(0px) translateY(0px); }
  62.5% {
    -moz-transform: translateX(-26.5px) translateY(-56px) scale(1.1);
    -moz-animation-timing-function: ease-in; }
  75% {
    -moz-transform: translateX(-54px) translateY(0px);
    -moz-animation-timing-function: ease-out; }
  87.5% {
    -moz-transform: translateX(-26.5px) translateY(56px); }
  100% {
    -moz-transform: translateX(0px) translateY(0px); } }
.nomr {
  margin-right: 0 !important; }

.md-raised {
  min-width: 1px;
  min-height: 1px; }

.login-btn {
  width: 100px; }

.with-scroll {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto; }

.full-height {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden; }

.height434 {
  height: 434px !important; }

html {
  background: #fff; }

body {
  height: 100%;
  background: #fff;
  overflow: hidden; }

.view-frame.ng-enter {
  -webkit-animation: 0.8s fade-in;
  -moz-animation: 0.8s fade-in;
  -o-animation: 0.8s fade-in;
  animation: 0.8s fade-in;
  z-index: 10; }

.delete-animation.ng-leave {
  -webkit-animation: 0.8s fade-out;
  -moz-animation: 0.8s fade-out;
  -o-animation: 0.8s fade-out;
  animation: 0.8s fade-out;
  z-index: 10; }

.enter-animation.ng-enter {
  -webkit-animation: 0.8s fade-in;
  -moz-animation: 0.8s fade-in;
  -o-animation: 0.8s fade-in;
  animation: 0.8s fade-in;
  z-index: 10; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.width87 {
  width: 87px; }

.width30 {
  width: 30px; }

.width188 {
  width: 188px; }

.width298 {
  width: 298px; }

.width301 {
  width: 301px !important; }

.header-inner {
  display: block;
  height: 126px; }
  .header-inner .container {
    border-bottom: 3px solid rgba(135, 124, 116, 0.46);
    height: 100%; }

.logo {
  display: block;
  width: 126px;
  height: 106px;
  background: url(../images/logo.png);
  float: left;
  margin-top: 13px; }

.container {
  width: 1366px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
  display: table; }

.headerWrapper {
  position: fixed;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: 3;
  height: 136px; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  height: 50px;
  background: #fff; }
  .footer .container {
    position: relative;
    bottom: 1px;
    height: 40px;
    background: #fffef4;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fffef4 0%, #fffef4 99%, #d9d1c1 100%);
    background: -webkit-linear-gradient(-45deg, #fffef4 0%, #fffef4 99%, #d9d1c1 100%);
    background: linear-gradient(-45deg, #fffef4 0%, #fffef4 60%, #f1ebdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d1c1', endColorstr='#fffef4',GradientType=1 );
    border-radius: 0 0 40px 40px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1); }

.createBtn {
  background: #887165 !important;
  color: #fff !important;
  font-family: Assistant;
  font-weight: bold;
  font-size: 16px;
  width: 140px;
  height: 37px; }

.ico {
  display: block;
  float: left;
  margin: 6px 0 5px 8px; }

.ico.addIco {
  width: 17px;
  height: 24px;
  background: url(../images/addIco.png) no-repeat; }

.ico.eventIco {
  width: 18px;
  height: 21px;
  background: url(../images/event-ico.png) no-repeat; }

.ico.saveIco {
  width: 20px;
  height: 18px;
  background: url(../images/save.png) no-repeat;
  float: none;
  display: inline-block;
  margin: 0 5px 0 0;
  position: relative;
  top: 4px; }

.ico.shareIco {
  width: 23px;
  height: 16px;
  background: url(../images/share-white.svg) no-repeat;
  margin-top: 11px; }

.ico.icoSearch {
  width: 28px;
  height: 26px;
  background: url(../images/searchIco.png) no-repeat;
  margin: 5px 0 4px;
  position: absolute;
  left: 0;
  cursor: pointer;
  outline: none; }

.ico.icoSearch1 {
  width: 14px;
  height: 14px;
  background: url(../images/searchIco1.png) no-repeat;
  margin: 13px 0 4px;
  position: absolute;
  left: 0; }

.ico.categoryIco.book {
  background: url(../images/book.png) no-repeat; }

.ico.categoryIco.light {
  background: url(../images/light.png) no-repeat; }

.ico.categoryIco.file {
  background: url(../images/file.png) no-repeat; }

.ico.categoryIco.setting {
  background: url(../images/setting.png) no-repeat; }

.ico.categoryIco.mail {
  background: url(../images/mail.png) no-repeat; }

.layout-row > .flex, .layout-lg-row > .flex {
  padding-left: 28px !important;
  box-sizing: border-box !important; }

.pullLeft {
  float: left; }

.pullRight {
  float: right; }

.loginWrapper {
  width: 498px;
  height: 312px;
  display: block;
  margin: 0 auto;
  border: 1px solid #d8d4c8;
  margin-top: 155px; }
  .loginWrapper .title {
    display: block;
    width: 100%;
    padding: 0 34px;
    box-sizing: border-box;
    background: #6a655d;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 104px;
    font-family: Assistant;
    font-weight: bold; }
  .loginWrapper .formWrapper {
    width: 298px;
    margin: 0 auto; }
  .loginWrapper input {
    text-align: left;
    direction: ltr; }

.helpedWrapperr {
  display: table;
  width: 100%; }

.contentContainer {
  width: 100%;
  height: 100%; }

.contentInner {
  width: 100%;
  margin-top: 25px;
  float: left;
  margin-left: -10px; }

.contentWrapper {
  height: calc(100% - 20px);
  background: #fffef4;
  background: -moz-linear-gradient(-45deg, #fffef4 0%, #d9d1c1 100%);
  background: -webkit-linear-gradient(-45deg, #fffef4 0%, #d9d1c1 100%);
  background: linear-gradient(-45deg, #fffef4 0%, #d9d1c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d1c1', endColorstr='#fffef4',GradientType=1 );
  width: 1366px;
  margin: 0 auto;
  padding-top: 168px;
  box-sizing: border-box;
  border-radius: 40px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: block;
  position: relative;
  top: 10px; }

.container-inner {
  height: calc(100% - 20px);
  overflow: hidden;
  width: 1137px;
  float: left; }

.contentWrapper .container-inner .container {
  height: 100%;
  position: relative;
  z-index: 2;
  width: 100%;
  display: block;
  overflow: hidden; }
.contentWrapper .no-padding {
  padding: 0; }
.contentWrapper .item {
  width: 207px;
  height: 240px;
  float: right;
  box-sizing: border-box;
  border: 2px solid #d6ccbe;
  position: relative;
  padding-bottom: 42px;
  margin: 0 13px 10px 0; }
  .contentWrapper .item .thumbnail {
    width: 100%;
    height: 140px;
    display: table;
    text-align: center;
    cursor: pointer; }
    .contentWrapper .item .thumbnail img {
      width: 50%; }
  .contentWrapper .item .title {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    font-family: Assistant;
    font-weight: bold;
    font-size: 22px; }
  .contentWrapper .item .btnWrapper {
    height: 41px;
    box-sizing: border-box;
    width: 100%;
    border-top: 2px solid #d6ccbe;
    position: absolute;
    bottom: 0;
    padding-left: 6px; }
  .contentWrapper .item:nth-child(5n+1) {
    margin-right: 0; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.custom-input {
  width: 100%; }

.btnCustom {
  float: left; }

.custom-input {
  display: table;
  margin: 28px 0 0 !important;
  width: 100%; }

.md-button {
  margin: 0;
  box-shadow: none !important; }

md-input-container .md-errors-spacer {
  min-width: 0; }

.searchWrapper {
  width: 188px;
  float: left;
  margin-left: 44px;
  position: relative;
  background: transparent !important; }
  .searchWrapper input[type=text] {
    display: block;
    min-width: 1px;
    width: 100%;
    height: 40px;
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #c0bab0;
    padding-left: 40px;
    box-sizing: border-box;
    direction: ltr;
    text-align: right; }

.md-whiteframe-1dp, .md-whiteframe-z1 {
  box-shadow: none !important;
  border-bottom: 1px solid #c0bab0 !important; }

md-autocomplete.md-default-theme, md-autocomplete {
  background: transparent !important; }

.md-button.md-icon-button {
  padding: 0;
  margin: 0 4px; }

md-icon.share {
  width: 41px;
  height: 26px; }

md-icon.edit {
  width: 31px;
  height: 26px; }

md-icon.delete {
  width: 14px;
  height: 18px;
  min-width: 14px;
  min-height: 18px; }

.md-button.md-icon-button {
  border-radius: 0; }

.menuWrapper {
  position: fixed;
  height: 870px;
  top: 168px;
  z-index: 2;
  width: 41px; }

.navWrapper {
  float: right;
  width: 41px; }
  .navWrapper .item-nav {
    width: 41px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    height: 174px;
    position: relative; }
    .navWrapper .item-nav:hover {
      z-index: 10; }
    .navWrapper .item-nav:hover:not(.no-child) {
      width: 229px;
      transition: all 0.3s ease; }
      .navWrapper .item-nav:hover:not(.no-child) .ico.categoryIco {
        margin-left: 21px; }
      .navWrapper .item-nav:hover:not(.no-child) .secondNavigation {
        left: 0;
        right: auto; }
      .navWrapper .item-nav:hover:not(.no-child) .mainLink {
        width: 58px; }
        .navWrapper .item-nav:hover:not(.no-child) .mainLink .text {
          right: -58px;
          bottom: 58px;
          line-height: 58px;
          height: 58px; }
    .navWrapper .item-nav.no-child:hover {
      width: 58px; }
      .navWrapper .item-nav.no-child:hover .ico.categoryIco {
        margin-left: 21px; }
      .navWrapper .item-nav.no-child:hover .mainLink {
        width: 58px; }
        .navWrapper .item-nav.no-child:hover .mainLink .text {
          right: -58px;
          bottom: 58px;
          line-height: 58px;
          height: 58px; }
    .navWrapper .item-nav .ico.categoryIco {
      width: 24px;
      height: 34px;
      margin: 30px 0 0 11px; }
    .navWrapper .item-nav:first-child {
      top: 0;
      z-index: 5; }
    .navWrapper .item-nav:nth-child(2) {
      z-index: 4;
      top: -10px; }
    .navWrapper .item-nav:nth-child(3) {
      z-index: 3;
      top: -20px; }
    .navWrapper .item-nav:nth-child(4) {
      z-index: 2;
      top: -30px; }
    .navWrapper .item-nav:nth-child(5) {
      z-index: 1;
      top: -40px; }
    .navWrapper .item-nav .mainLink {
      background: #f8f6eb;
      display: block;
      width: 41px;
      height: 174px;
      -webkit-box-shadow: inset 0 0 9px 6px rgba(0, 0, 0, 0.07);
      -moz-box-shadow: inset 0 0 9px 6px rgba(0, 0, 0, 0.07);
      box-shadow: inset 0 0 9px 6px rgba(0, 0, 0, 0.07);
      color: #645d56;
      font-size: 18px;
      font-family: Assistant;
      position: relative;
      float: right;
      z-index: 1; }
      .navWrapper .item-nav .mainLink .text {
        display: block;
        width: 174px;
        height: 41px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        position: absolute;
        right: -66px;
        bottom: 66px;
        line-height: 41px;
        padding-right: 63px;
        box-sizing: border-box; }
    .navWrapper .item-nav span {
      cursor: pointer; }
    .navWrapper .item-nav .secondNavigation {
      float: right;
      height: 100%;
      width: 196px;
      background: #f4f4f2;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
      margin: 0;
      padding: 0;
      list-style: none;
      padding: 23px 38px 23px 18px;
      box-sizing: border-box;
      position: absolute;
      right: -190px; }
      .navWrapper .item-nav .secondNavigation li {
        margin-top: 11px; }
        .navWrapper .item-nav .secondNavigation li:first-child {
          margin-top: 0; }
        .navWrapper .item-nav .secondNavigation li.active span {
          font-family: Assistant;
          font-weight: bold; }
      .navWrapper .item-nav .secondNavigation span {
        font-size: 20px;
        line-height: 20px;
        color: #3e3f40;
        padding: 0 8px 3px;
        box-sizing: border-box;
        font-family: Assistant;
        font-weight: 400;
        width: 100%;
        display: block; }
    .navWrapper .item-nav.active {
      width: 229px; }
      .navWrapper .item-nav.active .secondNavigation {
        left: 0;
        right: auto; }
      .navWrapper .item-nav.active .mainLink {
        border-radius: 6px 0 0 6px;
        width: 58px; }
        .navWrapper .item-nav.active .mainLink .text {
          right: -58px;
          bottom: 58px;
          line-height: 58px;
          height: 58px;
          padding-right: 55px; }
    .navWrapper .item-nav.lorange.active {
      width: 58px; }
    .navWrapper .item-nav:first-child .ico.categoryIco {
      margin-top: 11px; }
    .navWrapper .item-nav:first-child.active .ico.categoryIco {
      margin: 15px 0 0 21px; }
    .navWrapper .item-nav.active .ico.categoryIco {
      margin: 25px 0 0 21px; }
    .navWrapper .item-nav.orange {
      border-left: 6px solid #eea843; }
      .navWrapper .item-nav.orange ul span {
        border-bottom: 2px solid #f8c8ad; }
    .navWrapper .item-nav.lgreen {
      border-left: 6px solid #3dbfba; }
      .navWrapper .item-nav.lgreen ul span {
        border-bottom: 2px solid #3dbfba; }
    .navWrapper .item-nav.green {
      border-left: 6px solid #b2d67e; }
      .navWrapper .item-nav.green ul span {
        border-bottom: 2px solid #b2d67e; }
    .navWrapper .item-nav.lorange {
      border-left: 6px solid #ff7f58; }
      .navWrapper .item-nav.lorange ul span {
        border-bottom: 2px solid #ff7f58; }
    .navWrapper .item-nav.yellow {
      border-left: 6px solid #f2c95c; }
      .navWrapper .item-nav.yellow ul span {
        border-bottom: 2px solid #f2c95c; }

.pagination-wrapper {
  display: table;
  width: 100%; }
  .pagination-wrapper ul {
    list-style: none;
    display: table;
    margin: 0 auto; }
    .pagination-wrapper ul li {
      float: left;
      overflow: hidden; }
      .pagination-wrapper ul li a {
        color: #000;
        font-size: 30px;
        font-family: Assistant;
        margin: 0 3px;
        text-decoration: none;
        line-height: 36px; }
      .pagination-wrapper ul li.active a {
        font-size: 36px;
        font-family: Assistant;
        font-weight: bold; }
      .pagination-wrapper ul li.pagination-next a, .pagination-wrapper ul li.pagination-prev a {
        font-size: 60px;
        line-height: 26px; }

.height-auto {
  height: auto !important; }

.modal {
  width: 367px;
  margin: 0 auto;
  position: relative; }
  .modal .title {
    text-align: right; }
    .modal .title h2 {
      font-size: 36px;
      font-family: Assistant;
      font-weight: bold;
      height: 50px;
      margin: 0;
      line-height: 50px;
      padding: 0 13px;
      box-sizing: border-box;
      width: 100%;
      display: block;
      border-bottom: 2px solid #ddd; }
  .modal .close-btn {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0; }
  .modal .form-inner {
    height: 284px;
    width: 298px;
    margin: 0 auto; }
  .modal.category md-input-container, .modal.ingredients md-input-container {
    width: 100%; }
  .modal.category md-radio-button, .modal.ingredients md-radio-button {
    width: 46px;
    height: 46px;
    border: 1px solid #b2b2b2;
    float: left;
    margin: 0 0 14px 24px; }
    .modal.category md-radio-button:nth-child(4n+1), .modal.ingredients md-radio-button:nth-child(4n+1) {
      margin-left: 0; }
  .modal.category md-radio-button ._md-container, .modal.ingredients md-radio-button ._md-container {
    border-radius: 0;
    float: left;
    width: 46px;
    height: 46px;
    box-sizing: border-box; }
    .modal.category md-radio-button ._md-container div, .modal.ingredients md-radio-button ._md-container div {
      display: none; }
  .modal.category md-radio-button.md-checked, .modal.ingredients md-radio-button.md-checked {
    border: 2px solid #36a138; }
  .modal.category md-radio-button ._md-label, .modal.ingredients md-radio-button ._md-label {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: table; }
    .modal.category md-radio-button ._md-label .icon, .modal.ingredients md-radio-button ._md-label .icon {
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle; }
      .modal.category md-radio-button ._md-label .icon img, .modal.ingredients md-radio-button ._md-label .icon img {
        width: 100%; }
  .modal.calendar .form-inner {
    padding-bottom: 45px; }
  .modal.calendar md-input-container {
    width: 100%; }
  .modal.calendar textarea {
    max-height: 93px !important;
    height: 81px !important;
    text-align: right; }
  .modal.calendar .text-area-input {
    position: relative; }
    .modal.calendar .text-area-input .line {
      position: absolute;
      height: 1px;
      width: 100%;
      display: block;
      background: #c2b7af;
      top: 27px; }
      .modal.calendar .text-area-input .line + .line {
        top: 54px; }
  .modal .btn-wrapper {
    height: 63px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    width: 100%;
    display: table;
    padding: 14px 35px 0; }
  .modal .item-list {
    height: 168px;
    overflow: hidden; }
    .modal .item-list .scroll-thumb {
      width: 6px;
      border-radius: 0; }
    .modal .item-list .scroll-bar {
      width: 6px;
      right: 0;
      opacity: 1; }
    .modal .item-list .scroll-viewport {
      height: 100%; }
  .modal md-icon.md-default-theme, .modal md-icon {
    color: #000; }
  .modal md-icon.delete {
    width: 11px;
    height: 11px;
    min-height: 1px;
    min-width: 1px; }

.margin50 {
  margin: 50px 0; }

md-input-container .md-input {
  border-bottom-color: #c2b7af; }

.table-list {
  width: 1012px;
  display: table;
  float: right; }
  .table-list .th-container div {
    color: #212121;
    font-family: Assistant;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    float: right;
    margin-right: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box; }
    .table-list .th-container div:first-child {
      margin-right: 0;
      padding-right: 27px; }
  .table-list .table-inner .tr-line {
    width: 100%;
    float: left; }
    .table-list .table-inner .tr-line div {
      min-height: 36px;
      float: right;
      margin-right: 5px;
      box-sizing: border-box;
      padding: 9px 7px 8px 0;
      outline: none; }
      .table-list .table-inner .tr-line div:first-child {
        margin-right: 0;
        padding-right: 27px; }
      .table-list .table-inner .tr-line div:last-child {
        padding: 10px 7px 10px 0; }
      .table-list .table-inner .tr-line div.default-padding {
        padding: 9px 7px 8px 0; }
    .table-list .table-inner .tr-line:hover {
      cursor: pointer; }
      .table-list .table-inner .tr-line:hover div {
        background: rgba(152, 132, 122, 0.34); }
      .table-list .table-inner .tr-line:hover .rating-ico {
        background: transparent; }
  .table-list .table-inner .email {
    text-overflow: ellipsis;
    overflow: hidden; }
  .table-list .table-inner .actions .md-button.md-icon-button {
    height: 15px;
    min-height: 1px;
    min-width: 1px;
    width: auto;
    float: right; }
  .table-list .table-inner .actions md-icon {
    margin: 0; }
  .table-list .table-inner .actions md-icon.share {
    width: 19px;
    height: 13px;
    min-height: 1px; }
  .table-list .table-inner .actions md-icon.edit {
    width: 14px;
    height: 13px;
    min-height: 1px; }
  .table-list .table-inner .actions md-icon.print {
    width: 18px;
    height: 15px;
    min-height: 1px; }
  .table-list .width317 {
    width: 317px; }
  .table-list .width146 {
    width: 146px; }
  .table-list .width137 {
    width: 137px; }
  .table-list .width110 {
    width: 110px; }

.pagination-wrapper {
  margin-top: 15px;
  float: left; }

/*rating*/
.rating-ico {
  unicode-bidi: bidi-override;
  direction: rtl;
  padding: 0 !important;
  min-height: 1px !important; }
  .rating-ico.active-1 span:nth-child(1) {
    display: inline-block; }
  .rating-ico.active-1 span {
    display: none; }
  .rating-ico.active-2 span:nth-child(2),
  .rating-ico.active-2 span:nth-child(1) {
    display: inline-block; }
  .rating-ico.active-2 span {
    display: none; }
  .rating-ico.active-3 span:nth-child(3),
  .rating-ico.active-3 span:nth-child(2),
  .rating-ico.active-3 span:nth-child(1) {
    display: inline-block; }
  .rating-ico.active-3 span {
    display: none; }
  .rating-ico.active-4 span:nth-child(4),
  .rating-ico.active-4 span:nth-child(3),
  .rating-ico.active-4 span:nth-child(2),
  .rating-ico.active-4 span:nth-child(1) {
    display: inline-block; }
  .rating-ico.active-4 span {
    display: none; }
  .rating-ico.active-5 span {
    display: inline-block; }
  .rating-ico span {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 11px;
    background: url(../images/star1.svg);
    margin: 0 3px; }

.error-alert.login-error {
  width: 500px;
  box-sizing: border-box;
  float: none;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 200px; }

h2.page-title {
  margin: 0; }

.page-title {
  float: right;
  font-size: 60px;
  font-family: Assistant;
  font-weight: bold;
  padding-right: 27px;
  line-height: 30px; }

.ingr-title {
  float: right;
  font-size: 24px;
  font-family: Assistant;
  font-weight: bold;
  line-height: 24px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px; }

.helpedWrapper {
  width: 100%;
  float: left;
  padding-top: 10px; }

.margin10 {
  margin-top: 3px !important;
  margin-bottom: 10px !important; }

.margin20 {
  margin-top: 20px !important;
  margin-bottom: 10px !important; }

md-select.md-default-theme ._md-select-value, md-select ._md-select-value {
  border-bottom: 1px solid #c2b7af !important; }

.width105 {
  width: 105px !important; }

.relative {
  position: relative; }

.money-ico {
  position: absolute;
  right: 95px;
  color: #cacaca;
  font-size: 16px;
  font-family: Assistant;
  top: 6px; }

.title-ico {
  float: right;
  height: 56px;
  margin-left: 14px; }
  .title-ico img {
    height: 100%;
    margin-top: -10px; }

.management-form {
  width: 888px; }
  .management-form .half {
    width: 298px; }
    .management-form .half:first-child {
      margin-left: 40px;
      margin-right: 27px; }
    .management-form .half md-input-container {
      width: 100%; }
  .management-form .img-upload {
    width: 100%;
    float: right; }
    .management-form .img-upload .img {
      float: right;
      width: 44px;
      height: 44px;
      cursor: pointer; }
      .management-form .img-upload .img img {
        width: 100%; }
    .management-form .img-upload span.choose {
      display: block;
      padding-right: 35px;
      background: url(../images/upload.png) right center no-repeat;
      line-height: 25px;
      font-family: Assistant;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.3);
      float: right;
      cursor: pointer;
      margin-top: 17px;
      margin-right: 10px; }
  .management-form .button-block {
    width: 640px;
    float: right; }
  .management-form .subscription-data {
    margin-top: 40px;
    padding: 50px 27px 65px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    box-sizing: border-box;
    float: right; }
    .management-form .subscription-data .table-list {
      width: 100%; }
    .management-form .subscription-data .title {
      font-size: 36px;
      font-family: Assistant;
      font-weight: bold;
      padding-right: 5px; }
    .management-form .subscription-data .table-list .table-inner .tr-line div,
    .management-form .subscription-data .table-list .th-container div {
      padding-right: 10px; }
    .management-form .subscription-data .table-list .table-inner .tr-line div:first-child,
    .management-form .subscription-data .table-list .th-container div:first-child {
      padding-right: 5px; }

.purchase-block {
  width: 100%; }
  .purchase-block .page-title {
    display: block;
    width: 100%;
    margin: 50px 0; }
  .purchase-block .purchase-item {
    width: 167px;
    height: 230px;
    float: right;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 13px;
    position: relative; }
    .purchase-block .purchase-item .layer {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.53); }
    .purchase-block .purchase-item.active .layer {
      display: block;
      z-index: 1; }
    .purchase-block .purchase-item:first-child {
      margin-right: 27px; }
    .purchase-block .purchase-item .title {
      height: 62px;
      color: #fff;
      padding-top: 10px;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      float: left;
      font-size: 20px;
      font-family: Assistant; }
      .purchase-block .purchase-item .title .helped-title {
        display: block;
        font-size: 10px;
        font-family: Assistant;
        font-weight: bold; }
    .purchase-block .purchase-item .text {
      width: 100%;
      height: 120px;
      background: #fffaed;
      padding-top: 5px;
      box-sizing: border-box;
      float: left; }
      .purchase-block .purchase-item .text ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0; }
        .purchase-block .purchase-item .text ul li {
          width: 100%;
          text-align: center;
          color: #000;
          font-size: 14px;
          font-family: Assistant; }
          .purchase-block .purchase-item .text ul li:first-child {
            font-family: Assistant;
            font-weight: bold; }
          .purchase-block .purchase-item .text ul li:nth-child(2) {
            font-size: 12px;
            font-family: Assistant;
            font-weight: bold;
            padding-bottom: 8px;
            width: 140px;
            display: block;
            margin: 0 auto 8px; }
    .purchase-block .purchase-item .btn-block {
      width: 100%;
      height: 49px;
      background: #e6e9ed;
      float: left; }
      .purchase-block .purchase-item .btn-block .purchase-btn {
        width: 57px !important;
        height: 23px !important;
        min-height: 1px !important;
        min-width: 1px !important;
        line-height: 23px;
        padding: 0;
        display: table;
        margin: 12px auto;
        color: #fff;
        float: none; }
    .purchase-block .purchase-item:first-child .title {
      background: #eea843; }
    .purchase-block .purchase-item:first-child li:nth-child(2) {
      border-bottom: 1px solid #eea843; }
    .purchase-block .purchase-item:first-child .purchase-btn {
      background: #eea843; }
    .purchase-block .purchase-item:nth-child(2) .title {
      background: #3dbfba; }
    .purchase-block .purchase-item:nth-child(2) li:nth-child(2) {
      border-bottom: 1px solid #3dbfba; }
    .purchase-block .purchase-item:nth-child(2) .purchase-btn {
      background: #3dbfba; }
    .purchase-block .purchase-item:nth-child(3) .title {
      background: #99c45b; }
    .purchase-block .purchase-item:nth-child(3) li:nth-child(2) {
      border-bottom: 1px solid #99c45b; }
    .purchase-block .purchase-item:nth-child(3) .purchase-btn {
      background: #99c45b; }
    .purchase-block .purchase-item:last-child .title {
      background: #ff7f58; }
    .purchase-block .purchase-item:last-child li:nth-child(2) {
      border-bottom: 1px solid #ff7f58; }
    .purchase-block .purchase-item:last-child .purchase-btn {
      background: #ff7f58; }

.add-recipe .right-side {
  width: 438px; }
.add-recipe .input-group {
  width: 298px; }
  .add-recipe .input-group md-input-container {
    width: 100%; }
.add-recipe .input-radio-list {
  margin-top: 24px;
  float: right; }
  .add-recipe .input-radio-list md-checkbox {
    float: right;
    margin-right: 13px;
    margin-left: 0; }
    .add-recipe .input-radio-list md-checkbox:first-child {
      margin-right: 0; }
    .add-recipe .input-radio-list md-checkbox ._md-label {
      color: #000;
      margin-right: 23px;
      font-size: 14px;
      font-family: Assistant; }
    .add-recipe .input-radio-list md-checkbox ._md-container ._md-icon {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      overflow: hidden;
      border-color: #936f52;
      border-width: 2px;
      border-style: solid;
      background-color: transparent; }
  .add-recipe .input-radio-list md-checkbox:not([disabled]).md-primary.md-checked ._md-icon,
  .add-recipe .input-radio-list md-checkbox:not([disabled]).md-primary.md-checked ._md-icon {
    border-color: #936f52; }
    .add-recipe .input-radio-list md-checkbox:not([disabled]).md-primary.md-checked ._md-icon:after,
    .add-recipe .input-radio-list md-checkbox:not([disabled]).md-primary.md-checked ._md-icon:after {
      width: 10px;
      height: 10px;
      border-width: 0;
      background-color: #936f52;
      border-radius: 100%;
      overflow: hidden;
      left: 3px;
      top: 3px;
      border: none; }
.add-recipe .dish-block .title {
  font-family: Assistant;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px; }
.add-recipe .left-side {
  position: relative;
  float: right;
  width: 185px;
  height: 215px;
  margin-right: 41px; }
  .add-recipe .left-side .thumbnail {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    display: inline-block;
    padding: 10px 0 41px;
    background: #ffffff;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.46); }
    .add-recipe .left-side .thumbnail div {
      display: inline-block;
      width: 170px;
      overflow: hidden;
      box-sizing: border-box;
      cursor: pointer; }
      .add-recipe .left-side .thumbnail div img {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.23);
        box-sizing: border-box; }
  .add-recipe .left-side .buttons {
    position: absolute;
    top: 0;
    left: -26px;
    cursor: pointer; }
    .add-recipe .left-side .buttons span {
      display: block;
      background: url(../images/recipe-create-btns.png) no-repeat;
      width: 16px;
      height: 16px;
      outline: none; }
      .add-recipe .left-side .buttons span.choose {
        margin-top: 10px;
        height: 30px;
        background-position: 0 -24px; }
  .add-recipe .left-side .rating {
    margin-top: 10px;
    height: 16px; }
    .add-recipe .left-side .rating md-radio-group {
      display: inline-block;
      margin-right: 16px; }
      .add-recipe .left-side .rating md-radio-group md-radio-button {
        float: left; }
        .add-recipe .left-side .rating md-radio-group md-radio-button ._md-container:before {
          content: none; }
        .add-recipe .left-side .rating md-radio-group md-radio-button ._md-off,
        .add-recipe .left-side .rating md-radio-group md-radio-button ._md-on {
          height: 16px;
          width: 16px;
          border: none;
          background: url(../images/rate-star.png) bottom 1px center no-repeat; }
        .add-recipe .left-side .rating md-radio-group md-radio-button ._md-on {
          background-position: top center; }
        .add-recipe .left-side .rating md-radio-group md-radio-button .md-ripple-container {
          display: none; }
        .add-recipe .left-side .rating md-radio-group md-radio-button.md-checked ._md-on, .add-recipe .left-side .rating md-radio-group md-radio-button.md-checked ~ md-radio-button ._md-on {
          transform: scale(1); }

.width142 {
  width: 142px !important; }

.width171 {
  width: 171px !important; }

.width178 {
  width: 178px !important; }

md-autocomplete {
  width: 100%;
  min-width: 1px; }

.item-add {
  float: left;
  width: 100%;
  margin-top: 10px; }
  .item-add .input-group {
    float: right;
    width: 100%; }
    .item-add .input-group md-autocomplete md-autocomplete-wrap {
      height: 32px; }
    .item-add .input-group .searchWrapper {
      margin-right: 25px; }
  .item-add .add-new {
    width: 76px;
    height: 19px;
    color: #fff;
    background: #957155;
    line-height: 19px;
    margin-top: 33px; }
  .item-add .md-button.md-default-theme.md-raised:not([disabled]):hover, .item-add .md-button.md-raised:not([disabled]):hover {
    background: #957155 !important; }
  .item-add .trash-ico {
    width: 9px;
    height: 12px;
    display: block;
    background: url(../images/trash-ico.png) no-repeat;
    float: left;
    outline: none;
    cursor: pointer;
    margin: 3px 0 0 7px; }
  .item-add .category-list {
    float: right;
    height: 172px; }
    .item-add .category-list ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      padding-right: 20px;
      float: right; }
      .item-add .category-list ul li {
        width: 100%;
        margin-bottom: 14px;
        line-height: 16px;
        float: right; }
        .item-add .category-list ul li:last-child {
          margin-bottom: 0; }
        .item-add .category-list ul li .text {
          color: #000;
          font-size: 16px;
          font-family: Assistant;
          font-weight: 400;
          float: right; }
        .item-add .category-list ul li span:not(.trash-ico) {
          cursor: pointer;
          outline: none;
          width: 105px;
          text-overflow: ellipsis;
          overflow: hidden;
          float: right;
          white-space: nowrap; }
        .item-add .category-list ul li md-checkbox {
          float: left;
          margin-bottom: 0; }
        .item-add .category-list ul li md-checkbox.md-checked ._md-icon {
          background-color: #887165; }
        .item-add .category-list ul li md-checkbox ._md-container {
          width: 13px;
          height: 13px;
          top: 49%; }
          .item-add .category-list ul li md-checkbox ._md-container ._md-icon {
            width: 13px;
            height: 13px;
            border-color: #887165; }
            .item-add .category-list ul li md-checkbox ._md-container ._md-icon:after {
              left: 5.5px;
              top: 4.22222px;
              width: 3.66667px;
              height: 6.33333px; }
    .item-add .category-list .scroll-thumb {
      width: 6px;
      border-radius: 0; }
    .item-add .category-list .scroll-bar {
      width: 6px;
      right: 0;
      opacity: 1; }
    .item-add .category-list .scroll-overview {
      height: 100%; }
    .item-add .category-list .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container {
      right: 0; }
    .item-add .category-list .ngsb-wrap .ngsb-scrollbar {
      width: 6px; }
    .item-add .category-list .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
      width: 6px;
      border-radius: 0; }
  .item-add .main-list {
    float: right;
    margin-right: 27px; }
    .item-add .main-list li {
      margin-bottom: 13px;
      padding-right: 13px; }
      .item-add .main-list li .width87 {
        width: 87px !important; }
      .item-add .main-list li .width30 {
        width: 30px !important; }
  .item-add .ingridients-list {
    float: right;
    height: 160px;
    margin-right: 27px;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .item-add .ingridients-list.no-padding li {
      padding-right: 0; }
    .item-add .ingridients-list.main-list li {
      margin-bottom: 13px;
      padding-right: 13px; }
    .item-add .ingridients-list md-autocomplete {
      height: 20px;
      padding: 2px;
      position: absolute;
      right: 0;
      width: 100%; }
      .item-add .ingridients-list md-autocomplete md-autocomplete-wrap {
        height: 20px;
        border: none !important; }
    .item-add .ingridients-list md-autocomplete input:not(.md-input) {
      height: 20px;
      padding: 2px !important;
      width: 87px !important;
      display: block;
      border-bottom: 1px solid #c0bab0 !important;
      flex: inherit; }
    .item-add .ingridients-list md-autocomplete input::-webkit-input-placeholder {
      color: #000; }
    .item-add .ingridients-list md-autocomplete input::-moz-placeholder {
      color: #000; }
    .item-add .ingridients-list md-autocomplete input:-moz-placeholder {
      color: #000; }
    .item-add .ingridients-list md-autocomplete input:-ms-input-placeholder {
      color: #000; }
    .item-add .ingridients-list md-autocomplete button {
      width: 5px;
      display: none; }
      .item-add .ingridients-list md-autocomplete button md-icon {
        width: 18px;
        height: 18px;
        min-width: 0;
        min-height: 0; }
    .item-add .ingridients-list .title {
      width: 100%;
      box-sizing: border-box;
      padding-right: 20px;
      display: block;
      color: #000;
      font-family: Assistant;
      font-weight: bold;
      font-size: 16px;
      margin-top: 10px; }
    .item-add .ingridients-list ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      float: right; }
      .item-add .ingridients-list ul li {
        width: 100%;
        position: relative;
        padding-right: 91px;
        box-sizing: border-box;
        margin-bottom: 7px;
        line-height: 16px;
        float: right;
        color: #000;
        font-size: 16px;
        font-family: Assistant;
        font-weight: 400; }
        .item-add .ingridients-list ul li:last-child {
          margin-bottom: 0; }
        .item-add .ingridients-list ul li span {
          display: block;
          border-bottom: 1px solid #c2b7af;
          margin-right: 7px;
          float: right; }
          .item-add .ingridients-list ul li span:first-child {
            margin-right: 0; }
    .item-add .ingridients-list .scroll-thumb {
      width: 6px;
      border-radius: 0; }
    .item-add .ingridients-list .scroll-bar {
      width: 6px;
      right: 0;
      opacity: 1; }
    .item-add .ingridients-list .scroll-overview {
      height: 100%; }
    .item-add .ingridients-list .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container {
      right: 0; }
    .item-add .ingridients-list .ngsb-wrap .ngsb-scrollbar {
      width: 6px; }
    .item-add .ingridients-list .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
      width: 6px;
      border-radius: 0; }
  .item-add .instruction {
    float: right;
    width: 203px;
    margin-right: 50px;
    height: 172px; }
    .item-add .instruction .title {
      width: 100%;
      display: block;
      color: #000;
      font-family: Assistant;
      font-weight: bold;
      font-size: 16px;
      margin: 10px 0 0; }

.width664 {
  width: 664px !important; }

.submit-block {
  clear: both;
  overflow: hidden;
  float: right;
  margin-bottom: 50px;
  margin-bottom: 50px; }

.area {
  width: 100%;
  height: 145px;
  position: relative;
  float: right; }
  .area label:not(._md-container-ignore) {
    bottom: 104% !important; }
  .area textarea {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    line-height: 22px; }
  .area span {
    display: block;
    width: 100%;
    position: relative;
    height: 1px;
    background: #c2b7af;
    top: 0;
    margin-top: 22px; }

.notes {
  margin-top: 10px;
  margin-bottom: 20px;
  float: right; }
  .notes .area {
    height: 72px; }

.scroll-bar {
  opacity: 0;
  transition: opacity 0.6s ease; }

.container-inner:hover .scroll-bar {
  opacity: 1; }

.scroll-bar {
  width: 8px;
  background: transparent;
  z-index: 10;
  right: 15px; }

.scroll-thumb {
  background: rgba(0, 0, 0, 0.5);
  width: 8px;
  margin: 0;
  border-radius: 4px;
  opacity: 1; }

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container {
  right: 15px;
  opacity: 0;
  transition: opacity 0.6s ease; }

.container-inner:hover .ngsb-scrollbar .ngsb-thumb-container {
  opacity: 1; }

.ngsb-wrap .ngsb-scrollbar {
  width: 8px;
  z-index: 10; }

.ngsb-wrap .ngsb-scrollbar .ngsb-track {
  background: transparent; }

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
  background: rgba(0, 0, 0, 0.5);
  width: 8px;
  margin: 0;
  border-radius: 4px; }

.ngsb-wrap .ngsb-container {
  transition: 0.3s all; }

.scroll-overview {
  transition: 0.4s all; }

.loginPage .container-inner {
  width: 100%; }
.loginPage .ngsb-wrap .ngsb-container {
  height: 100%; }

.loginContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 168px;
  box-sizing: border-box;
  left: 0;
  top: 0; }

.modal-drawer {
  width: 797px; }
  .modal-drawer .form-inner {
    width: 100%; }
  .modal-drawer .draw-nav {
    float: left;
    width: 43px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 30px;
    box-sizing: border-box; }
    .modal-drawer .draw-nav span {
      display: block;
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-bottom: 20px;
      margin-left: 10px;
      outline: none; }
      .modal-drawer .draw-nav span:hover {
        background-color: #887165; }
      .modal-drawer .draw-nav span.image {
        background-image: url(../images/sketch/image-ico.jpg); }
      .modal-drawer .draw-nav span.triangle {
        background-image: url(../images/sketch/triangle-ico.jpg); }
      .modal-drawer .draw-nav span.circle {
        background-image: url(../images/sketch/circle-ico.jpg); }
      .modal-drawer .draw-nav span.half-circle {
        background-image: url(../images/sketch/half-circle-ico.png); }
      .modal-drawer .draw-nav span.rectangle {
        background-image: url(../images/sketch/rectangle-ico.jpg); }
      .modal-drawer .draw-nav span.line {
        background-image: url(../images/sketch/straight-ico.jpg); }
      .modal-drawer .draw-nav span.text {
        background-image: url(../images/sketch/text-ico.jpg); }
      .modal-drawer .draw-nav span.arrow {
        background-image: url(../images/sketch/arrow-ico.jpg); }
      .modal-drawer .draw-nav span.trash {
        background-image: url(../images/sketch/trash-ico.jpg); }
  .modal-drawer .draw-container {
    width: 753px;
    float: left; }
    .modal-drawer .draw-container .draw-inner {
      width: 100%;
      height: 405px; }
    .modal-drawer .draw-container .btn-wrapper {
      height: 27px;
      border-top: 0;
      padding: 0 12px; }
      .modal-drawer .draw-container .btn-wrapper .createBtn {
        width: 74px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        margin: 0 0 0 8px; }

.drawer {
  cursor: pointer;
  color: #936f52;
  padding-right: 18px;
  background: url(../images/drawer-ico.png) right center no-repeat;
  font-family: Assistant;
  font-size: 16px;
  outline: none; }

.drawer-block {
  display: block;
  margin: 25px 0 20px;
  float: right;
  width: 100% !important; }

.remove-btn {
  width: 65px;
  height: 37px;
  line-height: 37px;
  color: #fff !important;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  background: #887165 !important;
  margin: 0 8px;
  font-family: Assistant; }
  .remove-btn.red {
    background: #fb4646 !important; }

.error-modal {
  padding: 18px 0; }
  .error-modal .alert-ico {
    width: 70px;
    height: 70px;
    background: url(../images/erro-ico.png) no-repeat;
    display: block;
    margin: 0 auto; }
  .error-modal .title {
    color: #3e3e3e;
    font-size: 36px;
    font-family: Assistant;
    display: block;
    text-align: center;
    width: 100%; }
  .error-modal .helped-title {
    color: #3e3e3e;
    font-size: 16px;
    display: block;
    text-align: center;
    width: 100%;
    font-family: Assistant; }
    .error-modal .helped-title strong {
      font-family: Assistant;
      font-weight: bold; }
  .error-modal .btn-wrapper {
    display: table;
    margin: 19px auto 0;
    padding: 0;
    border: none;
    width: auto;
    height: auto; }

.user-data {
  float: right;
  padding-top: 45px; }
  .user-data .thumb {
    float: right;
    width: 42px;
    height: 42px; }
  .user-data .text {
    float: right; }
    .user-data .text .title {
      color: #98918d;
      display: block;
      font-size: 22px;
      font-family: Assistant; }
    .user-data .text .helped {
      color: #ada39b;
      display: block;
      font-size: 16px;
      font-family: Assistant; }

.success-alert {
  background: rgba(60, 255, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  float: right;
  text-align: right;
  max-width: 663px;
  width: 100%;
  height: 51px;
  line-height: 51px;
  position: relative;
  color: #4b7e0a;
  font-size: 16px;
  font-family: Assistant;
  font-weight: 400;
  padding: 0 28px;
  box-sizing: border-box;
  margin-right: 27px;
  margin-bottom: 30px; }
  .success-alert .closeIco {
    color: rgba(75, 126, 10, 0.25);
    font-size: 16px;
    position: absolute;
    font-family: Assistant;
    font-weight: bold;
    left: 8px;
    top: 0;
    cursor: pointer;
    outline: none; }

.error-alert {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  float: right;
  text-align: right;
  max-width: 663px;
  width: 100%;
  min-height: 51px;
  line-height: 51px;
  position: relative;
  color: #da061f;
  font-size: 16px;
  font-family: Assistant;
  font-weight: 400;
  padding: 0 28px;
  box-sizing: border-box;
  margin-right: 27px;
  margin-bottom: 30px; }
  .error-alert .closeIco {
    color: rgba(255, 0, 0, 0.25);
    font-size: 16px;
    position: absolute;
    font-family: Assistant;
    font-weight: bold;
    left: 8px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    outline: none; }

.modal .error-alert {
  width: 336px;
  margin: 7px auto;
  float: none;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.table {
  display: table;
  margin: 0 auto; }

.scroll-viewport {
  height: calc(100% - 20px);
  width: 100%; }

.scroll-overview {
  width: 100%; }

.dashWrapper {
  margin-top: 100px;
  color: #000000;
  float: left;
  width: 100%;
  padding-right: 184px; }
  .dashWrapper:before {
    content: '';
    display: block;
    position: absolute;
    background: url(../images/dash-arrows.png) no-repeat;
    height: 480px;
    width: 184px;
    right: 95px;
    top: 23px; }
  .dashWrapper span {
    padding-right: 100px; }
  .dashWrapper .welcome {
    display: block;
    font-size: 30px;
    font-family: Assistant; }
  .dashWrapper .text {
    position: relative;
    display: inline-block;
    font-size: 82px;
    line-height: 60px;
    font-family: Assistant;
    font-weight: bold; }
    .dashWrapper .text:after {
      content: '?';
      display: block;
      position: absolute;
      font-size: 148px;
      line-height: 108px;
      font-family: Assistant;
      font-weight: bold;
      left: -75px;
      top: 7px; }
  .dashWrapper .promotion {
    display: block;
    font-size: 60px;
    line-height: 60px;
    font-family: Assistant;
    font-weight: bold;
    margin-top: 165px;
    padding-bottom: 50px;
    background: url(../images/prom-underline.png) right 60px bottom no-repeat; }

.container-inner.dashboard {
  width: 100%; }
  .container-inner.dashboard .full-height {
    width: 100%; }
    .container-inner.dashboard .full-height .container {
      padding-right: 229px;
      box-sizing: border-box; }

.input-style {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  display: block;
  margin-top: 0;
  background: none;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-width: 0 0 1px 0;
  line-height: 26px;
  height: 30px;
  -ms-flex-preferred-size: 26px;
  border-radius: 0;
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  float: left;
  border-bottom-color: #c2b7af; }

.checkbox-wrapper {
  float: right;
  margin-right: 50px; }
  .checkbox-wrapper .title {
    width: 100%;
    display: block;
    color: #000;
    font-family: Assistant;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 0; }
  .checkbox-wrapper md-checkbox {
    margin-top: 13px;
    margin-bottom: 0;
    width: 13px;
    height: 13px;
    min-width: 0;
    min-height: 0; }
    .checkbox-wrapper md-checkbox ._md-icon {
      width: 13px;
      height: 13px;
      border-width: 1px; }
      .checkbox-wrapper md-checkbox ._md-icon:after {
        left: 4px;
        top: 2.22222px;
        width: 5.66667px;
        height: 6.33333px; }
  .checkbox-wrapper md-checkbox.md-default-theme ._md-icon, .checkbox-wrapper md-checkbox ._md-icon {
    border-color: #936f52; }
  .checkbox-wrapper md-checkbox.md-default-theme.md-checked ._md-icon, .checkbox-wrapper md-checkbox.md-checked ._md-icon {
    background-color: #936f52; }

.remove-wrapper {
  float: right;
  margin-right: 50px; }
  .remove-wrapper .title {
    width: 100%;
    display: block;
    color: #000;
    font-family: Assistant;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 0; }
  .remove-wrapper .remove-item {
    display: block;
    width: 9px;
    height: 12px;
    background: url(../images/trash-ico.png) no-repeat;
    cursor: pointer;
    margin-top: 11px;
    outline: none; }

.important-dates {
  position: relative; }

.customer-remove {
  display: block;
  float: left;
  background: url(../images/delete-ico.png) no-repeat;
  cursor: pointer;
  position: absolute;
  width: 13px;
  height: 13px;
  background-size: 100%;
  left: -21px;
  margin-top: 14px;
  top: 0;
  outline: none; }

.add-more-ingridients {
  display: block;
  float: left;
  width: 21px;
  height: 21px;
  background: url(../images/add-more.png) no-repeat;
  cursor: pointer;
  margin-top: 10px;
  outline: none; }
  .add-more-ingridients.customer {
    position: absolute;
    width: 13px;
    height: 13px;
    background-size: 100%;
    right: -21px; }

.width203 {
  width: 203px; }

.width100p {
  width: 100%; }

.heightNormal {
  height: auto !important; }

.mr0 {
  margin-right: 0; }

.width50 {
  width: 50px; }

.margin0 {
  margin: 0 !important; }

.mt60 {
  margin-top: 60px; }

.hidden {
  display: none; }

.noutline {
  outline: none; }

.custom-dropdown {
  width: 188px; }

.ingridients-input {
  height: 20px !important; }

.ingridients-input > span,
.ingridients-input > input {
  height: 20px !important;
  margin: 0;
  padding: 2px !important;
  line-height: 16px; }

.dish-block {
  display: table; }

div.value > span {
  display: inline-block; }

.item-title {
  float: right;
  font-size: 16px;
  font-family: Assistant;
  font-weight: 400;
  width: 95px;
  text-overflow: ellipsis;
  overflow: hidden; }

.item-metadata {
  display: inline-block;
  font-size: 16px;
  font-family: Assistant;
  font-weight: 400; }
  .item-metadata span,
  .item-metadata div {
    font-size: 16px;
    font-family: Assistant;
    font-weight: 400;
    display: inline-block; }

md-autocomplete button {
  display: none; }

.full-width .flex {
  width: 100%;
  height: 31px; }

.datepicker-style {
  padding: 0 !important;
  margin: 0 !important;
  position: relative; }
  .datepicker-style .md-datepicker-button {
    position: absolute;
    width: 9px;
    height: 11px;
    left: 0; }
    .datepicker-style .md-datepicker-button md-icon {
      width: 9px;
      height: 11px;
      min-height: 1px;
      min-width: 1px;
      color: rgba(0, 0, 0, 0.3); }
  .datepicker-style .md-datepicker-input-container {
    height: 30px;
    padding: 0;
    border-bottom-color: #c2b7af; }
  .datepicker-style .md-datepicker-input {
    height: 30px; }
  .datepicker-style .md-datepicker-triangle-button {
    display: none; }

.customer .form-inner {
  position: relative; }

.modal-drawer > *,
.modal-drawer {
  direction: ltr; }

.modal-subcreate {
  padding: 20px 10px;
  width: 750px;
  background: #fffef4;
  background: -moz-linear-gradient(-45deg, #fffef4 0%, #d9d1c1 100%);
  background: -webkit-linear-gradient(-45deg, #fffef4 0%, #d9d1c1 100%);
  background: linear-gradient(-45deg, #fffef4 0%, #d9d1c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d1c1', endColorstr='#fffef4',GradientType=1 ); }
  .modal-subcreate .container {
    width: 100%; }
    .modal-subcreate .container .contentInner {
      margin-left: 0;
      height: 550px; }
  .modal-subcreate .error-alert {
    width: 100%; }
  .modal-subcreate md-icon.delete {
    width: 20px;
    height: 20px; }
    .modal-subcreate md-icon.delete svg .st0 {
      stroke: #887165;
      fill: #887165; }
  .modal-subcreate .scroll-bar {
    opacity: 1;
    right: -15px; }
  .modal-subcreate .submit-block {
    margin-bottom: 0; }
  .modal-subcreate .right-side {
    margin-right: 1px; }
  .modal-subcreate .close-btn {
    left: 15px;
    top: 30px; }

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 40px;
  margin: 0;
  padding: 0;
  display: none;
  background-color: #4b4b4b;
  list-style: none;
  transition: left 0.2s ease-in-out;
  width: 222px;
  height: 290px; }
  .dropdown-menu .image-container {
    height: 242px;
    width: 100%;
    overflow: hidden;
    padding: 10px 0 0;
    box-sizing: border-box; }
    .dropdown-menu .image-container ul {
      margin: 0;
      list-style: none;
      font-size: 0;
      padding: 2px 0 0 15px; }
      .dropdown-menu .image-container ul li {
        width: 46px;
        height: 46px;
        padding: 0;
        margin: 0 24px 14px 0;
        display: inline-block;
        border: 1px solid #fff;
        box-sizing: border-box;
        cursor: pointer;
        vertical-align: top;
        overflow: hidden; }
        .dropdown-menu .image-container ul li:nth-child(3n+3) {
          margin: 0; }
        .dropdown-menu .image-container ul li:focus {
          outline: 2px solid #fff; }
        .dropdown-menu .image-container ul li img {
          width: 100%;
          height: auto; }
    .dropdown-menu .image-container .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container {
      opacity: 1; }
    .dropdown-menu .image-container .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
      background: #b6b6b6;
      border-radius: 8px; }
    .dropdown-menu .image-container .ngsb-wrap .ngsb-scrollbar {
      right: 6px;
      opacity: 1; }
    .dropdown-menu .image-container .ngsb-wrap .ngsb-scrollbar .ngsb-track {
      box-shadow: none; }
  .dropdown-menu:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 9px 0;
    border-color: transparent #4b4b4b transparent transparent;
    top: 0;
    left: -5px; }

.dropdown-menu.active {
  display: block;
  left: 60px;
  z-index: 1; }

.modal .draw-nav .btn-wrapper {
  padding: 0;
  height: auto;
  border: none; }
  .modal .draw-nav .btn-wrapper .createBtn {
    background: #fff !important;
    color: #000 !important;
    width: 80px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin: 12px 21px 0 0; }
    .modal .draw-nav .btn-wrapper .createBtn:hover span {
      background: #fff; }
    .modal .draw-nav .btn-wrapper .createBtn span {
      width: 100%;
      margin: 0;
      background: #fff !important; }

@media screen and (max-height: 900px) {
  .menuWrapper {
    height: 70%; }
    .menuWrapper .item-nav {
      height: 140px; }
      .menuWrapper .item-nav .mainLink {
        height: 100%;
        font-size: 16px; }
        .menuWrapper .item-nav .mainLink .text {
          width: 100%;
          right: 0;
          bottom: 50px;
          padding-right: 20px; }

  .navWrapper .item-nav:hover:not(.no-child) .mainLink .text {
    right: 0;
    bottom: 33px; }

  .navWrapper .item-nav.no-child:hover .mainLink .text {
    right: 0;
    bottom: 33px; }

  .navWrapper .item-nav.active .mainLink .text {
    right: 0;
    bottom: 33px;
    padding-right: 20px; } }
.value span:first-child .delimiter {
  display: none; }

.recipeWrapper {
  display: table;
  width: 100%;
  margin-right: 20px; }
  .recipeWrapper .content {
    float: right;
    width: 750px;
    text-align: right;
    line-height: 36px;
    font-family: Assistant;
    font-weight: 400; }
    .recipeWrapper .content.subview {
      width: 550px; }
    .recipeWrapper .content p {
      margin: 0; }
    .recipeWrapper .content h1 {
      float: right;
      width: 100%;
      margin: 0;
      text-align: right;
      font-size: 36px;
      line-height: 36px;
      font-family: Assistant;
      font-weight: bold; }
    .recipeWrapper .content ul {
      list-style: none;
      width: 550px;
      float: right;
      margin: 0;
      padding: 0; }
      .recipeWrapper .content ul li {
        width: 100%;
        float: right; }
        .recipeWrapper .content ul li .half {
          float: right;
          width: 50%;
          padding-left: 20px;
          box-sizing: border-box; }
          .recipeWrapper .content ul li .half:nth-child(2) {
            float: left; }
          .recipeWrapper .content ul li .half .title {
            font-size: 20px; }
          .recipeWrapper .content ul li .half .time, .recipeWrapper .content ul li .half .temp {
            font-size: 18px;
            padding-right: 25px; }
          .recipeWrapper .content ul li .half .time {
            background: url(../images/recipe-time.png) right center no-repeat; }
          .recipeWrapper .content ul li .half .temp {
            background: url(../images/recipe-temp.png) right 4px center no-repeat; }
          .recipeWrapper .content ul li .half .descr, .recipeWrapper .content ul li .half .scheme {
            font-size: 16px; }
          .recipeWrapper .content ul li .half .descr strong:last-child:after {
            display: none; }
          .recipeWrapper .content ul li .half .descr strong:after {
            content: ' ,'; }
    .recipeWrapper .content .items {
      float: right;
      margin-top: 20px;
      width: 550px; }
      .recipeWrapper .content .items .item {
        float: right;
        width: 100%;
        border: none;
        height: auto;
        text-align: right; }
        .recipeWrapper .content .items .item.hr {
          padding-bottom: 10px;
          border-bottom: 1px solid #a3a097; }
        .recipeWrapper .content .items .item:not(:last-child) {
          margin-bottom: 45px; }
        .recipeWrapper .content .items .item h2 {
          float: right;
          width: 100%;
          margin: 0;
          text-align: right;
          font-size: 20px;
          font-family: Assistant;
          font-weight: bold; }
        .recipeWrapper .content .items .item ul li:not(:last-child) {
          margin-bottom: 15px; }
        .recipeWrapper .content .items .item ul li .half .title {
          text-align: right;
          font-family: Assistant;
          font-weight: bold; }
        .recipeWrapper .content .items .item ul li .half .text {
          font-size: 18px;
          line-height: 18px;
          word-spacing: 5px; }
        .recipeWrapper .content .items .item ul li.hr {
          padding-bottom: 10px;
          border-bottom: 1px solid #a3a097; }
    .recipeWrapper .content .additional {
      float: right;
      width: 100%;
      margin-top: 45px; }
      .recipeWrapper .content .additional .title {
        text-align: right;
        float: right;
        width: 100%;
        font-size: 24px;
        font-family: Assistant;
        font-weight: bold; }
      .recipeWrapper .content .additional p {
        float: right;
        width: 100%;
        font-size: 18px; }
  .recipeWrapper .thumb {
    float: right; }
    .recipeWrapper .thumb img {
      width: 100%; }
    .recipeWrapper .thumb .buttons {
      width: 24px;
      left: -40px; }
      .recipeWrapper .thumb .buttons .md-button {
        float: left;
        width: 24px; }
      .recipeWrapper .thumb .buttons md-icon.edit {
        width: 24px;
        height: auto; }
        .recipeWrapper .thumb .buttons md-icon.edit .st0 {
          fill: #bcad9d;
          stroke: #bcad9d;
          stroke-width: 0.097px; }
      .recipeWrapper .thumb .buttons md-icon.print {
        height: auto; }
        .recipeWrapper .thumb .buttons md-icon.print .st0 {
          fill: #bcad9d;
          stroke-width: 0.097px; }
      .recipeWrapper .thumb .buttons md-icon.delete {
        height: auto; }
        .recipeWrapper .thumb .buttons md-icon.delete .st0 {
          fill: #bcad9d;
          stroke: #bcad9d; }
      .recipeWrapper .thumb .buttons .md-button.md-icon-button {
        height: 24px;
        min-height: 1px;
        margin-bottom: 5px; }
      .recipeWrapper .thumb .buttons .st1 {
        fill: none;
        stroke: #bcad9d; }
  .recipeWrapper .scheme b {
    font-family: Assistant;
    font-weight: bold; }
  .recipeWrapper .scheme b:after {
    content: 'x'; }
  .recipeWrapper .scheme b:last-child:after {
    display: none; }
  .recipeWrapper .sketch {
    direction: ltr;
    float: right;
    margin-top: 20px; }
    .recipeWrapper .sketch canvas {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      cursor: default; }

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
  border-color: #c1c1c1; }

.contentInner .calendar {
  width: 1012px; }
.contentInner .fc-day-number {
  float: left !important;
  padding: 10px 0 0 10px; }
.contentInner .fc-content {
  direction: rtl; }
.contentInner .fc-event, .contentInner .fc-event-dot {
  color: #fff;
  background: #887165;
  border-color: #887165;
  font-family: Assistant;
  font-size: 18px;
  direction: rtl;
  text-align: right; }
.contentInner .fc .fc-toolbar > * > * {
  margin-left: 0; }
.contentInner .fc-button {
  outline: none;
  background: #b7b7b7;
  /* Old browsers */
  background: -moz-linear-gradient(90deg, #b7b7b7 0%, #eeecec 37%, #fff 100%);
  background: -webkit-linear-gradient(90deg, #b7b7b7 0%, #eeecec 37%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#fff',GradientType=1 );
  border: 1px solid #bdbbb3;
  border-radius: 0;
  padding: 0 .9em; }
  .contentInner .fc-button:first-child {
    border-radius: 6px 0 0 6px; }
  .contentInner .fc-button:last-child {
    border-radius: 0 6px 6px 0; }

.back-btn {
  font-family: Assistant;
  font-size: 16px;
  float: left;
  line-height: 56px;
  cursor: pointer; }

.notes-list md-input-container {
  width: 199px !important;
  float: right; }
.notes-list .remove-wrapper {
  float: left;
  margin-right: 0; }
  .notes-list .remove-wrapper span {
    border-bottom: none !important; }

.width243 {
  width: 243px !important; }

.item-add .main-list {
  position: relative; }

.add-more-ingridients.absolute {
  position: absolute;
  left: 0;
  top: 0; }

.calendar-container {
  position: relative; }
  .calendar-container .calendarBtn {
    position: absolute;
    left: 75px; }
  .calendar-container .page-title {
    font-size: 30px; }
  .calendar-container .fc-unthemed .fc-today {
    background: transparent; }

.calendar-picker {
  width: 100%;
  display: block; }
  .calendar-picker .md-datepicker-input-container {
    width: 100%;
    margin-right: 0; }

.ingridients-input md-select ._md-select-value {
  border: none !important;
  min-height: 19px;
  min-width: 50px; }
  .ingridients-input md-select ._md-select-value span {
    height: 18px;
    margin-top: -6px; }
  .ingridients-input md-select ._md-select-value ._md-select-icon {
    display: none; }

.ing-padding-list li {
  position: relative;
  padding-right: 91px !important; }

.single-event {
  position: absolute;
  width: 225px;
  background: #fff;
  z-index: 10; }
  .single-event span {
    display: block; }
  .single-event .title {
    height: 22px;
    background: #dedede;
    font-family: Assistant;
    font-weight: 400;
    font-size: 14px; }

.datetime-picker {
  width: 48%;
  float: right; }
  .datetime-picker + .datetime-picker {
    float: left; }
  .datetime-picker md-input-container {
    margin: 0;
    padding: 0; }
    .datetime-picker md-input-container input {
      text-align: right; }
  .datetime-picker mdp-time-picker {
    position: relative; }
  .datetime-picker mdp-time-picker .md-icon-button {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    margin: 0;
    z-index: 1; }
    .datetime-picker mdp-time-picker .md-icon-button md-icon {
      min-width: 1px;
      min-height: 1px;
      width: 14px;
      height: 14px;
      color: rgba(0, 0, 0, 0.3); }
  .datetime-picker .datepicker-style .md-datepicker-button {
    width: 14px;
    height: 14px; }
    .datetime-picker .datepicker-style .md-datepicker-button md-icon {
      min-width: 1px;
      min-height: 1px;
      width: 14px;
      height: 14px;
      color: rgba(0, 0, 0, 0.3); }

.recipeWrapper.calculate .content {
  line-height: 26px; }

.isHared {
  position: absolute;
  left: 14px;
  top: -7px;
  background: url(../images/resources.png);
  width: 17px;
  height: 24px;
  display: block; }

.no-content {
  text-align: center; }

.table-list .table-inner .tr-line {
  position: relative; }
  .table-list .table-inner .tr-line .name .isHared {
    right: 0;
    top: 6px;
    opacity: 0.5; }

/*# sourceMappingURL=global.css.map */
